@model mtm.Tourism.Models.OrderTourModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich
       To learn more about mytrip.mvc visit
       http://mytripmvc.net  http://mytripmvc.codeplex.com
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */
}
@{
    ViewBag.Title = Html.MytripPageTitle(ToursLanguage.ordertour, "/");
    ViewBag.Keywords=Html.MytripPageTitle(ToursLanguage.ordertour, ",");
    ViewBag.Description=Html.MytripPageTitle(ToursLanguage.ordertour, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcAjax.js,ui.datepicker.js,Page/Tour.OrderTour.js")
@if (mtm.Core.Settings.LocalisationSetting.culture() == "ru-ru")
{
@Html.ScriptLink("ui.datepicker-ru.js")
}
}
@section contentSmall{
@Html.Partial("_sideBar") 
}
@section contentBig{
<h1 class="title">@ToursLanguage.ordertour</h1>
<fieldset>

@using (Html.BeginForm()){
<table class="noborders">
<tr>
<td>
<div class="editor-label">
@Html.LabelFor(model => model.Name, CoreLanguage.UserName)
@Html.ValidationMessageFor(model => model.Name)<br />
@Html.TextBoxFor(model => model.Name)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.Email, CoreLanguage.Email)
@Html.ValidationMessageFor(model => model.Email)<br />
@Html.TextBoxFor(model => model.Email)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.Phone, ToursLanguage.Phone)
@Html.ValidationMessageFor(model => model.Phone)<br />
@Html.TextBoxFor(model => model.Phone)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.Country, ToursLanguage.Country)
@Html.ValidationMessageFor(model => model.Country)<br />
@Html.TextBoxFor(model => model.Country)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.FromCity, ToursLanguage.FromCity)
@Html.ValidationMessageFor(model => model.FromCity)<br />
@Html.TextBoxFor(model => model.FromCity)
</div>
</td><td>
<div class="editor-label">
@Html.LabelFor(model => model.CountPeople, ToursLanguage.CountPeople)
@Html.ValidationMessageFor(model => model.CountPeople)<br />
@Html.TextBoxFor(model => model.CountPeople)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.StartDate, ToursLanguage.startdate)
@Html.ValidationMessageFor(model => model.StartDate)<br />
@Html.TextBoxFor(model => model.StartDate)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.StopDate, ToursLanguage.stopdate)
@Html.ValidationMessageFor(model => model.StopDate)<br />
@Html.TextBoxFor(model => model.StopDate)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.Hotel, ToursLanguage.Hotel)
@Html.ValidationMessageFor(model => model.Hotel)<br />
@Html.TextBoxFor(model => model.Hotel)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.Resort, ToursLanguage.Resort)
@Html.ValidationMessageFor(model => model.Resort)<br />
@Html.TextBoxFor(model => model.Resort)
</div>
</td></tr></table>
<div class="editor-label">
 @Html.LabelFor(model => model.Body, CoreLanguage.message) 
 </div>
<div class="editor-field">
@Html.TextAreaFor(model => model.Body, new {@class="message", style = "height: 150px; width:400px;" })
@Html.ValidationMessageFor(model => model.Body) 
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.send, true,"left")
</div> 

}
</fieldset>
}

