@model mtm.RssParser.Models.ManagerModel
@{ 
    /* Copyright ? 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(RssparserLanguage.rssparser_manager);
    ViewBag.Keywords = mtm.RssParser.ModuleSetting.RssparserKeyWords();
    ViewBag.Description = mtm.RssParser.ModuleSetting.RssparserDesc();
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js,mtm.Delete.js,mtm.jHtmlArea.js,Page/Rssparser.js")
}
@section content{
@Html.BreadCumps(">",Model.bread)
<h1 class="title">@RssparserLanguage.rssparser_manager</h1>
<div class="content">
@Html.RssparserList()
</div>
<h1 class="title">@RssparserLanguage.add_rss_feed</h1>
<div id="errorsumm"></div>
<div class="last"></div>
@using (Html.BeginForm()){
<fieldset>
 <div class="right" id="seo">SEO</div>
    <div id="seoModal" class="window"> 
<div class="modalTC">SEO</div>
<div class="modalC">
<div class="editor-label">
            @Html.LabelFor(model => model.seotitle,"Title")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.seotitle)
            @Html.ValidationMessageFor(model => model.seotitle)
        </div>
<div class="editor-label">
            @Html.LabelFor(model => model.path,"Path")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.path)
            @Html.ValidationMessageFor(model => model.path)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.seokeywords,"Keywords")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.seokeywords, new { @class = "message", style = "height: 50px; width:400px;" })
            @Html.ValidationMessageFor(model => model.seokeywords)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.seodescription,"Description")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.seodescription, new { @class = "message", style = "height: 50px; width:400px;" })
            @Html.ValidationMessageFor(model => model.seodescription)
        </div>
</div> 
</div>    
<div class="editor-label">
@Html.LabelFor(model => model.Title, RssparserLanguage.rssfeed_title)
</div><div class="editor-field"> 
@Html.TextBoxFor(x=>x.Title,new { style = "width: 350px;"})
@Html.ValidationMessage("Title")
</div><div class="editor-label">
@Html.LabelFor(model => model.RssUrl, RssparserLanguage.rssfeed_url)
</div><div class="editor-field"> 
@Html.TextBoxFor(x => x.RssUrl, new { style = "width: 350px;" })
@Html.ValidationMessage("RssUrl")
</div><div class="editor-label">
@Html.LabelFor(model => model.ImgUrl, RssparserLanguage.rssfeed_pic)
</div><div class="editor-field"><div class="dark" style="width:206px;"> 
@Html.TextAreaFor(x => x.ImgUrl, new { id = "fotoabstract", style = "height: 200px; width:200px;" })
@Html.ValidationMessage("ImgUrl")
</div></div><div class="editor-label">
@Html.CheckBoxFor(model => model.AllCulture) 
@Html.LabelFor(model => model.AllCulture, RssparserLanguage.display_in_all_languages)
</div>
<div class="button">
@Html.MytripButton("Add",true,"left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.cancel, false,"left") 
</div>
</fieldset>
}
@Html.Partial("Partial/_deleteModal") 
}

