@inherits System.Web.Mvc.WebViewPage<Mytrip.Mvc.Models.RegisterModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
   View.Title = Html.MytripPageTitle(CoreLanguage.register, "/");
   LayoutPage = "~/Views/Shared/_Layout.cshtml";
   View.Keywords=Html.MytripPageTitle(CoreLanguage.register, ",");
   View.Description=Html.MytripPageTitle(CoreLanguage.register, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
}
@section content{
<h1 class="title">@CoreLanguage.create_account</h1>
<p>@CoreLanguage.register_text_first</p>
<p>@string.Format(CoreLanguage.register_text_last, Model.minRequiredPasswordLength)</p>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){ 
<fieldset>
<div class="editor-label">
@Html.MytripLabelFor("UserName", CoreLanguage.UserName)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.UserName)
@Html.ValidationMessageFor(m => m.UserName) 
</div><div class="editor-label">
@Html.MytripLabelFor("Email", CoreLanguage.Email)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.Email)
@Html.ValidationMessageFor(m => m.Email)
</div><div class="editor-label">
@Html.MytripLabelFor("Password", CoreLanguage.Password)
</div><div class="editor-field">
@Html.PasswordFor(m => m.Password)
@Html.ValidationMessageFor(m => m.Password) 
</div><div class="editor-label">
@Html.MytripLabelFor("ConfirmPassword", CoreLanguage.ConfirmPassword)
</div><div class="editor-field">
@Html.PasswordFor(m => m.ConfirmPassword)
@Html.ValidationMessageFor(m => m.ConfirmPassword) 
</div>
@if (Model.unlockCaptcha){ 
<div class="editor-label">
@Html.MytripLabelFor("Captcha",CoreLanguage.Captcha)
@Html.CaptchaImage(202, 60, "Times New Roman")
</div><div class="editor-field">
@Html.TextBoxFor(m => m.Captcha)
@Html.ValidationMessageFor(m => m.Captcha)
</div>
} 
<div class="button">
@Html.MytripButton(CoreLanguage.register, true,"left")
</div>
</fieldset>    
} 
}

