@model Mytrip.Articles.Models.EditorsModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
     View.Title = Html.MytripPageTitle(Model.PageTitle, "/");
	 View.Keywords=Html.MytripPageTitle(Model.PageTitle, ",");
     View.Description=Html.MytripPageTitle(Model.PageTitle, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
<script type='text/javascript'\> 
$(document).ready(function () {
var st = $('.dropdown dt a').find('span.value').html();
    $('#drop .dropdown dd ul li a').click(function () {
        var selected = $(this).find('span.value').html();
        if (st != selected  ) {
            $("#form").submit();
        }
    });
	$('input.rename').click(
        function () {
           $("#Data").val(this.value);
		   if(!this.value.match(/_0$/)||this.value.indexOf("Article")!=-1){
		   $("#subcats").hide();
		   }
		   else  {
		     $("#subcats").show();
		   }
            var id = 'div.window';
            $(id).css({ width: (326 + 'px') });
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();
            $('div.mask').css({ 'width': maskWidth, 'height': maskHeight });
            $('div.mask').show();
            $('div.mask').fadeTo("fast", 0.1);
            var winH = $(window).height();
            var winW = $(window).width();
            $(id).css('top', (winH / 2 - $(id).height() / 2) + getScrollY());
            $(id).css('left', winW / 2 - $(id).width() / 2);
            $(id).slideDown('slow');
        });
	 $("#enter").live("click", function () {
			$("#modalform").submit();
            $('div.mask, div.window').hide();
      });
     $("#close").live("click", function () {
        $('div.mask, div.window').hide();
      });
});
function getScrollY() {
    scrollY = 0;
    if (typeof window.pageYOffset == "number") {
        scrollY = window.pageYOffset;
    } else if (document.documentElement && document.documentElement.scrollTop) {
        scrollY = document.documentElement.scrollTop;
    } else if (document.body && document.body.scrollTop) {
        scrollY = document.body.scrollTop;
    } else if (window.scrollY) {
        scrollY = window.scrollY;
    }
    return scrollY;
}
  </script>
}
@section content{
<h1 class="title">
@Model.PageTitle</h1>

 <table id="drop" class="noborders">
    <tr>
      <th style="width: 100px">
		@using (Html.BeginForm("Editors","Article", FormMethod.Post, new { id = "form" }))  {
		@Html.DropDownListFor(model => model.User, Model.Editors)
		}
      </th>
      <th>
         @ArticleLanguage.activity
      </th>
      <th style="width: 125px">
         @ArticleLanguage.date
      </th>
    </tr>
	 @Html.EditorActivity(Model.User)
 </table>
 
<div class="button">
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.Backtocontrolpanel, false,"left")
</div>
<div class="window"> 
<div class="modalTC">@ArticleLanguage.reassign_journalist</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@ArticleLanguage.select_user</h3>
@using (Html.BeginForm("Editors","Article", FormMethod.Post, new { id = "modalform" }))  {
@Html.DropDownListFor(model => model.NewUser, Model.NewEditors)
<div id="subcats">
@Html.CheckBoxFor(model => model.SubCategory)
@Html.MytripLabelFor("SubCategory", ArticleLanguage.include_subcategories)
</div>
@Html.HiddenFor(model => model.User)
@Html.HiddenFor(model => model.Data)
@Html.MytripButton(CoreLanguage.cancel, false, "close","right")
@Html.MytripButton(CoreLanguage.save, true, "enter","right")     
		}
</td></tr></table>
<div class="button">
 
</div>
</div> 
</div>
}



