@model Mytrip.Tourism.Models.ToursIndexModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich
       To learn more about Mytrip.Mvc visit
       http://mytripmvc.net  http://mytripmvc.codeplex.com
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */
}
@{
    View.Title = Html.MytripPageTitle(Model.PageTitle, "/");
    View.Keywords=Html.MytripPageTitle(Model.PageTitle, ",");
    View.Description=Html.MytripPageTitle(Model.PageTitle, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcAjax.js,Mytrip.Mvc.Delete.js")
}
@section contentSmall{
@Html.Partial("_sideBar") 
}
@section contentBig{
@Html.CategoryTitle(Model.Category,Model.CategoryOnly)
@if (ModuleSetting.paginalTours()){
@Html.MytripPager(10, Model.total, "...")
}
<div class="last"></div>
@Html.ToursIndex(Model.Tours,Model.CategoryOnly)
@if (ModuleSetting.paginalTours()){
@Html.MytripPager(10, Model.total, "...")
}
<div id="delete" class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "close","right")
@Html.MytripButton(CoreLanguage.remove, true, "enter","right")
</div></div></div>
}

