@model mtm.Core.Models.OpenIdRegisterModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(CoreLanguage.UserNameforsite, "/");
    ViewBag.Keywords=Html.MytripPageTitle(CoreLanguage.UserNameforsite, ",");
    ViewBag.Description=Html.MytripPageTitle(CoreLanguage.UserNameforsite, ",");
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js")
}
@section content{
<h1 class="title">
 @CoreLanguage.UserNameforsite</h1>

@using (Html.BeginForm()) {
<fieldset>
<div class="editor-label">
@Html.LabelFor(model => model.UserName, CoreLanguage.UserName)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.UserName)
@Html.ValidationMessageFor(model => model.UserName) 
</div><div class="editor-label" style="display: @Model.display">
@Html.LabelFor(m => m.Email, CoreLanguage.Email)
</div><div class="editor-field" style="display: @Model.display">
@Html.TextBoxFor(m => m.Email)
@Html.ValidationMessageFor(m => m.Email)
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.save,true,"left")
</div>
</fieldset>
}
}
