@model mtm.Core.Models.RenameModels
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(CoreLanguage.rename_file_or_folder, "/");
    ViewBag.Keywords=Html.MytripPageTitle(CoreLanguage.rename_file_or_folder, ",");
    ViewBag.Description=Html.MytripPageTitle(CoreLanguage.rename_file_or_folder, ",");
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js")
}
@section content{
<h1 class="title">@CoreLanguage.rename_file_or_folder</h1>    
<div class="content">
@Html.MytripImageLink(Url.Action("Index",new{id=string.Empty}),"/mtm/FileIcon/folder", Membership.ApplicationName,0,32,0)
@Html.ActionLink(Membership.ApplicationName, "Index", new { id = "()" })
@Html.MytripDirectory(Model.Directory)
</div>
@using (Html.BeginForm()){
<div class="last"></div> 
<div class="content">
<div class="editor-label">
 @Html.LabelFor(model => model.Name, CoreLanguage.choose_new_name)
</div><div class="editor-field">
@Html.TextBoxFor(m=>m.Name)
@Html.ValidationMessageFor(m => m.Name) 
</div><div class="button">
@Html.MytripButton(CoreLanguage.rename,true,"left")
@Html.MytripButton(Url.Action("Index", "File", new { id = Model.Back }), CoreLanguage.back_to_list, false,"left") 
</div></div>
} 
}

