@model Mytrip.Mvc.Models.IndexUsersModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.all_users, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.all_users, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.all_users, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,Mytrip.Mvc.Delete.js")
}
@section content{
<h2 class="adminlink">@Html.ActionLink(CoreLanguage.all_roles, "IndexRole", new { id = 1, id2 = 10, id3 = "RoleName" })</h2>
<h1 class="title">@CoreLanguage.all_users</h2>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){
<div><div class="textboxR">
@Html.ValidationMessageFor(m => m.Search)
</div></div><br />
@Html.MytripButton(CoreLanguage.search_user,true,"right")
<div class="textboxR"> 
@Html.TextBoxFor(m=>m.Search)
</div>
}
<div style="clear: both;"></div><div class="last"></div> 
@Html.MytripPager(Model.DefaultCount,Model.Total,"...")<div class="last"></div> 
<table>
<tr><th class="editdelite">
</th><th>
@Html.ActionLink(CoreLanguage.UserName, "Index", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("UserName") })
</th><th>
@Html.ActionLink(CoreLanguage.Email, "Index", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("Email") })
</th><th>
@Html.ActionLink(CoreLanguage.LastActivityDate, "Index", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("LastActivityDate") })
</th><th>
@Html.ActionLink(CoreLanguage.CreationDate, "Index", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("CreationDate") })
</th><th>
@Html.ActionLink(CoreLanguage.LastLoginDate, "Index", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("LastLoginDate") })
</th><th>
@Html.ActionLink(CoreLanguage.LastPasswordChangedDate, "Index", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("LastPasswordChangedDate") })
</th><th>
@Html.ActionLink(CoreLanguage.UserIP, "Index", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("UserIP") })
</th><th>
@CoreLanguage.IsApproved
</th></tr>
@Html.UserIndex(Model.Users,CoreLanguage.are_you_sure)
</table>
@Html.MytripPager(Model.DefaultCount, Model.Total, "...")
<div id="delete" class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "close","right")
@Html.MytripButton(CoreLanguage.remove, true, "enter","right")      
</div>
</div> 
</div> 
}

