@inherits System.Web.Mvc.WebViewPage<Mytrip.Mvc.Models.IndexRolesModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.all_roles, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(CoreLanguage.all_roles, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.all_roles, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,Mytrip.Mvc.Delete.js")
}
@section content{
<h2 class="adminlink">@Html.ActionLink(CoreLanguage.all_users, "Index")</h2>
<h1 class="title">@CoreLanguage.all_roles</h2>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){
<div><div class="textboxR">
@Html.ValidationMessageFor(m=>m.RoleName)
</div></div><br />
@Html.MytripButton(CoreLanguage.add_role,true,"right")
<div class="textboxR"> 
@Html.TextBoxFor(m=>m.RoleName)  
</div>
}
<div style="clear: both;"></div><div class="last"></div> 
@Html.MytripPager(Model.DefaultCount, Model.Total,"...")<div class="last"></div> 
<table>
<tr><th class="editdelite">
</th><th>
@Html.ActionLink(CoreLanguage.RoleName, "IndexRole", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("RoleName") })
</th><th>
@Html.ActionLink(CoreLanguage.UserCount, "IndexRole", new { id = 1, id2 = Model.DefaultCount, id3 = Html.MytripSort("UserCount") })
</th></tr>
@Html.RoleIndex(Model.Roles,CoreLanguage.are_you_sure) 
</table>
@Html.MytripPager(Model.DefaultCount, Model.Total,"...")
<div class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cansel, false, "close","right")
@Html.MytripButton(CoreLanguage.remove, true, "enter","right")      
</div>
</div> 
</div>
}

