@model Mytrip.Mvc.Models.CorePageModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(Model.title, "/");
	View.Keywords=Html.MytripPageTitle(Model.title, ",");
    View.Description=Html.MytripPageTitle(Model.title, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcAjax.js,MicrosoftMvcValidation.js,Mytrip.Mvc.Delete.js")
}
@section contentBig{
@if(Model.sideBar){
 <div class="right">@Html.AddPageAndSubPage(Model.pages)</div>   
<h1 class="title">
 @Html.EditorPage(Model.id) @Model.title
</h1>
<div class="content">
@Model.body 
</div>
     @Html.LinkPageAndSubpage(Model.pages)
if (Model.approvedemail)
{
    using (Html.BeginForm())
    {
<div class="last"></div> 
<div class="content">
<div class="editor-label">
@Html.MytripLabelFor("name", CoreLanguage.UserName) 
</div>
<div class="editor-field">
 @Html.TextBoxFor(model => model.name)
@Html.ValidationMessageFor(model => model.name) 
</div>
<div class="editor-label">
 @Html.MytripLabelFor("email", CoreLanguage.Email)
</div>
<div class="editor-field">
@Html.TextBoxFor(model => model.email)
@Html.ValidationMessageFor(model => model.email)
</div>
<div class="editor-label">
 @Html.MytripLabelFor("messege", CoreLanguage.message) 
 </div>
<div class="editor-field">
@Html.TextAreaFor(model => model.messege, new { @class = "message", style = "height: 150px; width:400px;" })
@Html.ValidationMessageFor(model => model.messege) 
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.send, true, "left")
</div> 
</div>
    }
}
}  
}
@section contentSmall{
@if (Model.sideBar)
{
@Html.Partial("_sideBar")
} 
}
@section content{
@if (!Model.sideBar)
{
    <div class="right">@Html.AddPageAndSubPage(Model.pages)</div> 
<h1 class="title">
@Html.EditorPage(Model.id) @Model.title
</h1>
<div class="content">
@Model.body 
</div>
    @Html.LinkPageAndSubpage(Model.pages)
if (Model.approvedemail)
{
    using (Html.BeginForm())
    {
<div class="last"></div> 
<div class="content">
<div class="editor-label">
@Html.MytripLabelFor("name", CoreLanguage.UserName) 
</div>
<div class="editor-field">
 @Html.TextBoxFor(model => model.name)
@Html.ValidationMessageFor(model => model.name) 
</div>
<div class="editor-label">
 @Html.MytripLabelFor("email", CoreLanguage.Email)
</div>
<div class="editor-field">
@Html.TextBoxFor(model => model.email)
@Html.ValidationMessageFor(model => model.email)
</div>
<div class="editor-label">
 @Html.MytripLabelFor("messege", CoreLanguage.message) 
 </div>
<div class="editor-field">
@Html.TextAreaFor(model => model.messege, new { @class = "message", style = "height: 150px; width:400px;" })
@Html.ValidationMessageFor(model => model.messege) 
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.send, true, "left")
</div> 
</div>
    }
}
} 
<div id="delete" class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png", "warning", "i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "close", "right")
@Html.MytripButton(CoreLanguage.remove, true, "enter", "right")
</div></div></div> 
}

