@model Mytrip.Mvc.Models.ProfileUsersModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
     View.Title = Html.MytripPageTitle(Model.UserName, "/");
    View.Keywords=Html.MytripPageTitle(Model.UserName, ",");
    View.Description=Html.MytripPageTitle(Model.UserName, ",");
}
@section csslink{}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
<script type='text/javascript'\> 
$(document).ready(function () {
var st = $('.dropdown dt a').find('span.value').html();
    $('.dropdown dd ul li a').click(function () {
        var selected = $(this).find('span.value').html();
        if (st != selected  ) {
            $("form").submit();
        }
    });
	});
</script>
}
@section contentBig{}
@section contentSmall{}
@section content{
<h1 class="title">
@string.Format(CoreLanguage.profile, Model.UserName)</h1>
<div class="content">
<table class="noborders">
<tr>
<td style="width: 180px;">
<div style="text-align: center;">
@Html.Avatar(Model.Email, new { title=Model.UserName})</div>
@Html.UserData(Model.UserName)
@Html.Partial("_profileSmall")
</td>
<td style="border: 0;">         
@Html.Partial("_profileBig")         
</td></tr>
</table>
</div>
}

