@model Mytrip.Mvc.Models.ControlPanelModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.control_panel, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.control_panel, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.control_panel, ",");
}
@section content{
<h1 class="title">@CoreLanguage.control_panel</h1>
<table class="content">
<tr>
<td class="first1" style="width: 50%;"></td>
@if(Model.viewAdmin){
<td class="last1" style="width: 50%;"></td>
}
</tr><tr>
<td class="first2">
@Html.MytripImage("/images/generalsetting.png","generalsetting","right")
<ol class="numbered" style="font-size: inherit">
<li><a href="/Core">@CoreLanguage.Core_Settings</a></li>
@if(Model.viewAdmin){
<li><a href="/Core/InstallModules">@CoreLanguage.InstallModules</a></li>
<li><a href="/Core/Email">@CoreLanguage.Email_setting</a></li>
}                    
</ol>
</td>
@if(Model.viewAdmin){
<td class="last2">
@Html.MytripImage("/images/usersetting.png","usersetting","right")
<ol class="numbered" style="font-size: inherit">
<li><a href="/Users">@CoreLanguage.user_manager</a></li>
<li><a href="/File/Index/()">@CoreLanguage.file_manager</a></li>
</ol>
</td>
}
</tr><tr>
<td class="first3"></td>
@if(Model.viewAdmin){
<td class="last3"></td>
}
</tr><tr>
<td class="first1"></td>
<td class="last1"></td>
</tr><tr>
<td class="first2">

@Html.MytripImage("/images/menusetting.png","menusetting","right")
<ol class="numbered" style="font-size: inherit">
<li><a href="/Core/HomePage">@CoreLanguage.homepage_setting</a></li>
<li><a href="/Core/TopMenu">@CoreLanguage.topmenu_setting</a></li>
<li><a href="/Core/CorSideBar">@CoreLanguage.sidebar_setting</a></li>                    
</ol>
</td><td class="last2">
<ol class="numbered" style="font-size: inherit">
@{/* WARNING AUTO GENERATE CODE */}
@{/*--StartManagerControlPanel--*/}
@Mytrip.Rssparser.Export.Manager()
@Mytrip.Votes.Export.Manager()
@Mytrip.Articles.Export.Manager()
@Mytrip.Gismeteo.Export.Manager()
@Mytrip.Store.Export.Manager()
@{/*--EndManagerControlPanel--*/}     
</ol>
</td></tr><tr>
<td class="first3"></td>
<td class="last3"></td>
</tr><tr>
<td class="first1"></td>
<td class="last1"></td>
</tr><tr>
<td class="first2">
<ol class="numbered" style="font-size: inherit">
@{/* WARNING AUTO GENERATE CODE */}
@{/*--StartSettingControlPanel--*/}
@Mytrip.Rssparser.Export.Setting()
@Mytrip.Votes.Export.Setting()
@Mytrip.Articles.Export.Setting()
@Mytrip.Gismeteo.Export.Setting()
@Mytrip.Store.Export.Setting()
@{/*--EndSettingControlPanel--*/}                  
</ol>
</td><td class="last2">
<ol class="numbered" style="font-size: inherit">
<li><a href="/Core/About">@CoreLanguage.edit_about</a></li> 
<li><a href="/Core/Footer">@CoreLanguage.edit_footer</a></li> 
</ol>
</td></tr><tr>
<td class="first3"></td>
<td class="last3"></td>
</tr>
</table>
}

