@inherits System.Web.Mvc.WebViewPage
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@View.Title</title>
<link href="/RssArticle/RssArticles" rel="alternate" type="application/rss+xml" title="Articles" />
<link href="/RssArticle/RssBlogs" rel="alternate" type="application/rss+xml" title="Blogs" />
@Html.CssLink("Site.css") @RenderSection("csslink",optional:true) 
@Html.ScriptLink("jquery-1.4.2.js,Mytrip.Mvc.Include.js") @RenderSection("scriptlink",optional:true)
<meta name="keywords" content="@View.Keywords" />
<meta name="description" content="@View.Description" />
</head>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-11038425-1");
        pageTracker._trackPageview();
    } catch (err) { }</script>
<body>
<div class="page">
<div id="header">
<div id="logindisplay">
@Html.LanguageMenu()@Html.ThemeMenu()@Html.LogonMenu()
</div>
<div id="title">
@Html.Logo()
</div>
<div id="menucontainer">
@Html.Partial("_menu")
</div>
</div>
<div id="main">
@RenderSection("content",optional:true)
<div id="mainSmall">
@RenderSection("contentSmall",optional:true)
</div><div id="mainBig">
@RenderSection("contentBig",optional:true)
</div>
<div class="clear"></div>
</div>
<div id="footer">
@Html.FooterLogo()
<span>Copyright &copy; 2009 - 2010 Oleg Stuhin &amp; Rostislav Haitovich</span>           
</div>
</div>
</body>
</html>
