@inherits System.Web.Mvc.WebViewPage<Mytrip.Articles.Models.ArchiveIndexModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(Model.PageTitle, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(Model.PageTitle, ",");
    View.Description=Html.MytripPageTitle(Model.PageTitle, ",");
}
@section scriptlink{
@Html.ScriptLink("Mytrip.Mvc.Delete.js")
}
@section content{
 <h1 class="title">@Model.PageTitle </h1>
<div class="content">
@Html.CulturePager(Model.Path)
@Html.ShowDetails(Model.Path,Model.Culture)
<div class="button">
@Html.MytripButton("/Article/Archive", ArticleLanguage.back_to_archive, true,"left")</div>
</div>
<div class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "close","right")
@Html.MytripButton(CoreLanguage.remove, true, "enter","right")      
</div></div></div>
}

