@inherits System.Web.Mvc.WebViewPage<Mytrip.Articles.Models.CategoryModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(Model.PageTitle, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(Model.PageTitle, ",");
    View.Description=Html.MytripPageTitle(Model.PageTitle, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
}
@section content{
<h1 class="title">
@Model.PageTitle</h1>
@using (Html.BeginForm()){
<fieldset>
@Html.HiddenFor(model => model.Url) 
@Html.HiddenFor(model=>model.CategoryId) 
@Html.HiddenFor(model => model.Path)
<div class="editor-label">
@Html.MytripLabelFor("Title",ArticleLanguage.name)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.Title)
@Html.ValidationMessageFor(model => model.Title)
</div><div class="editor-label" style="display:@Model.ShowSeparateBlock">
@Html.CheckBoxFor(model => model.SeparateBlock)
@Html.MytripLabelFor("SeparateBlock", ArticleLanguage.add_to_menu)
</div><div class="editor-label" style="display:@Model.ShowAllCulture">
@Html.CheckBoxFor(model => model.AllCulture)
@Html.MytripLabelFor("AllCulture", ArticleLanguage.display_all_lang)
</div><div class="button">
@Html.MytripButton(ArticleLanguage.edit,true,"left")
@Html.MytripButton(Model.Url, ArticleLanguage.back,false,"left")         
</div>
</fieldset>
} 
}

