@{
/* Copyright ? 2009 - 2010 Oleg Stuhin & Rostislav Haitovich
To learn more about mytrip.mvc visit
http://mytripmvc.net  http://mytripmvc.codeplex.com
mytripmvc@gmail.com
license: Microsoft Public License (Ms-PL) */
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@ViewBag.Title</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
@Html.Partial("_rss")
@Html.CssLink() @RenderSection("csslink", required: false) @Html.ScriptLink("jquery-1.4.4.min.js,mtm.Include.js")
@Html.ScriptStatistic()
@RenderSection("scriptlink", required: false)
@Html.Partial("_googleAnalytics")
<meta name="keywords" content="@ViewBag.Keywords" />
<meta name="description" content="@ViewBag.Description" />
</head>
<body onload="@ViewBag.BodyOnload" >
<div class="page">
<div id="header">
<div id="logindisplay">
@Html.Raw(WrapRes.Logon_0)
@Html.LogonMenu()
@Html.Raw(WrapRes.Menu_6)
</div>
<div id="announce">
@Html.Partial("_announce")
</div>
<div id="title">
@Html.Logo()
</div>
@{/* WARNING AUTO GENERATE CODE */}
@{/*--Start--*/}
<div id="menucontainerL">
@{/*--End--*/}
@if (!mtm.Core.Settings.CoreSetting.Development())
{
@Html.Raw(WrapRes.Menu_0)
@Html.Partial("_menu")
@Html.Raw(WrapRes.Menu_6)
}
</div>
</div>
<div id="main">
@RenderSection("content", required: false)
@{/* WARNING AUTO GENERATE CODE */}
@{/*--Start--*/}
<div id="mainSmallR">
@{/*--End--*/}
@RenderSection("contentSmall", required: false)
</div>
@{/* WARNING AUTO GENERATE CODE */}
@{/*--Start--*/}
<div id="mainBigR">
@{/*--End--*/}
@RenderSection("contentBig", required: false)
</div>
<div class="clear">
</div>
</div>
<div id="footer">
@Html.StatisticLink()
@Html.FooterLogo()

<span>@Html.Partial("_footer")</span>
</div>
</div>

</body>
</html>
