@model Mytrip.Mvc.Models.ForgotPasswordModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.forgotPassword, "/");
    View.Keywords = Html.MytripPageTitle(CoreLanguage.forgotPassword, ",");
    View.Description = Html.MytripPageTitle(CoreLanguage.forgotPassword, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
}
@section content{
<h2 class="title">@CoreLanguage.forgotPassword</h2>
@if(Model.sendemail)
{
<div class="appr">
@Model.message
</div>
    
}else{
    using (Html.BeginForm()) {
    <fieldset>
        @Model.message
        <div class="editor-label">
            @Html.LabelFor(model => model.Email, CoreLanguage.forgotEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
       
<div class="button">
@Html.MytripButton(CoreLanguage.send, true,"left")
</div>
    </fieldset>
}}
}

