@model Mytrip.Mvc.Models.LogOnModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.logon, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.logon, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.logon, ",");
}
@section csslink{}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,Page/Account.js")
}
@section contentBig{}
@section contentSmall{}
@section content{
<h1 class="title">@CoreLanguage.logon</h1>
@if (Model.unlockSiteId){ 
<p>@CoreLanguage.logon_text
@if (Model.unlockRegistration){
@(new HtmlString(string.Format(CoreLanguage.logon_text1, Html.ActionLink(CoreLanguage.register, "Register", new { returnUrl = Model.returnUrl }))))
}</p>}
<span id="ErrorOpenId">@Model.errorOpenId </span>
<table class="content"><tr>
@if (Model.unlockSiteId){ 
<td class="first1" style="@Model.tableWidth"></td>
}@if (Model.unlockOpenId){ 
<td class="last1" style="@Model.tableWidth"></td>
} </tr><tr>
@if (Model.unlockSiteId){ 
<td class="first2" style="@Model.tableWidth">
@{Html.EnableClientValidation();} 
@using (Html.BeginForm()){ 
<div class="editor-label">
@Html.MytripLabelFor("UserName",CoreLanguage.UserName)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.UserName)
@Html.ValidationMessageFor(m => m.UserName) 
</div><div class="editor-label">
@Html.MytripLabelFor("Password", CoreLanguage.Password)
</div><div class="editor-field">
@Html.PasswordFor(m => m.Password) 
@Html.ValidationMessageFor(m => m.Password) 
</div><div class="editor-label">
@Html.CheckBoxFor(m => m.RememberMe) 
@Html.MytripLabelFor("RememberMe", CoreLanguage.RememberMe)
</div><div class="button" >
@Html.MytripButton(CoreLanguage.logon,true,"left")
@if (Model.unlockRegistration && Model.unlockSiteId){
@Html.MytripButton("/Account/Register?ReturnUrl=" + Model.returnUrl, CoreLanguage.register, false,"left")
}</div> 
}</td>
}@if (Model.unlockOpenId){ 
<td class="last2" style="@Model.tableWidth text-align: center; padding-top: 5px;">
<div>
@Html.MytripImgInput("/Content/images/google.png","https://google.com/accounts/o8/id&ReturnUrl="+Model.returnUrl,"nonameopenid")
@Html.MytripImgInput("/Content/images/aol.png","http://openid.aol.com/&ReturnUrl="+Model.returnUrl,"nonameopenid")  
@Html.MytripImgInput("/Content/images/yahoo.png","https://me.yahoo.com/&ReturnUrl="+Model.returnUrl,"nonameopenid")  
</div>
@Html.MytripImgInput("/Content/images/myopenid.png","https://www.myopenid.com/&ReturnUrl="+Model.returnUrl,"nonameopenid")
@Html.MytripImgInput("/Content/images/claimid.png","http://claimid.com/{0}/&ReturnUrl="+Model.returnUrl,CoreLanguage.UserName,"nameopenid")
@Html.MytripImgInput("/Content/images/myid.png","http://myid.net/&ReturnUrl="+Model.returnUrl,"nonameopenid") 
<div>
@Html.MytripImgInput("/Content/images/openid.png","{0}&ReturnUrl="+Model.returnUrl,"URL (http://sitename...)","nameopenid")
@Html.MytripImgInput("/Content/images/livejournal.png","http://{0}.livejournal.com/&ReturnUrl="+Model.returnUrl,CoreLanguage.UserName,"nameopenid")
@Html.MytripImgInput("/Content/images/wordpress.png","http://{0}.wordpress.com/&ReturnUrl="+Model.returnUrl,CoreLanguage.UserName,"nameopenid")
</div><div>
@Html.MytripImgInput("/Content/images/verisignlabs.png","https://pip.verisignlabs.com/&ReturnUrl="+Model.returnUrl,"nonameopenid") 
@Html.MytripImgInput("/Content/images/rambler.png","http://rambler.ru/&ReturnUrl="+Model.returnUrl,"nonameopenid") 
@Html.MytripImgInput("/Content/images/yandex.png","http://openid.yandex.ru/&ReturnUrl="+Model.returnUrl,"nonameopenid") 
</div></td>
} 
</tr><tr>@if (Model.unlockSiteId){ 
<td class="first3" style="@Model.tableWidth"></td>
}@if (Model.unlockOpenId){ 
<td class="last3" style="@Model.tableWidth"></td>
}</tr></table> 
<div class="window"> 
<div class="modalTC">@CoreLanguage.logon</div>
<div class="modalC">
<span id="TitleOpenId"></span>
<div class="editor-field">   
@Html.TextBox("op",null,new{id="_op",style="width:300px;"}) 
</div>   
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "close","right")
@Html.MytripButton(CoreLanguage.logon, true, "enter","right")      
</div></div></div>  
}
