@model mtm.Core.Models.RecoveryPasswordModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(CoreLanguage.RecoveryPassword, "/");
    ViewBag.Keywords = Html.MytripPageTitle(CoreLanguage.RecoveryPassword, ",");
    ViewBag.Description = Html.MytripPageTitle(CoreLanguage.RecoveryPassword, ",");
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js")
}
@section content{
<h1 class="title">@CoreLanguage.RecoveryPassword</h1>
@if(Model.sendemail)
{
<div class="appr">
@CoreLanguage.RecoveryPasswordMess  <a href="@Model.returnUrl">@CoreLanguage.next</a>
</div>

}else{
using (Html.BeginForm()) {
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password,CoreLanguage.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword,CoreLanguage.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="button">
@Html.MytripButton(CoreLanguage.send, true,"left")
</div>
    </fieldset>
}
}
}

