@model mtm.Store.Models.SettingStorelModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(StoreLanguage.storeSetting, "/");
    ViewBag.Keywords=Html.MytripPageTitle(StoreLanguage.storeSetting, ",");
    ViewBag.Description=Html.MytripPageTitle(StoreLanguage.storeSetting, ",");
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js")
}
@section content{
<h1 class="title">@StoreLanguage.storeSetting</h1>

@using (Html.BeginForm()){
<fieldset>
    <div class="editor-label">
        @Html.CheckBoxFor(m => m.unlockStore)
        @Html.LabelFor(m => m.unlockStore, StoreLanguage.unlockStore)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.nameStore, StoreLanguage.nameStore)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.nameStore)
        @Html.ValidationMessageFor(m => m.nameStore)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.nameProducer, StoreLanguage.nameProducer)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.nameProducer)
        @Html.ValidationMessageFor(m => m.nameProducer)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.NameSearchPage, StoreLanguage.NameSearchPage)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.NameSearchPage)
        @Html.ValidationMessageFor(m => m.NameSearchPage)
    </div>

    <div class="editor-label">
        @Html.CheckBoxFor(m => m.viewProduktTable)
        @Html.LabelFor(m => m.viewProduktTable, StoreLanguage.viewProduktTable)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.styleProduct, StoreLanguage.styleProduct)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.styleProduct)
        @Html.ValidationMessageFor(m => m.styleProduct)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.widthImgProduct, StoreLanguage.widthImgProduct)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.widthImgProduct)
        @Html.ValidationMessageFor(m => m.widthImgProduct)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.columnProduct, StoreLanguage.columnProduct)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.columnProduct)
        @Html.ValidationMessageFor(m => m.columnProduct)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.styleDepartment, StoreLanguage.styleDepartment)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.styleDepartment)
        @Html.ValidationMessageFor(m => m.styleDepartment)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.widthImgDepartment, StoreLanguage.widthImgDepartment)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.widthImgDepartment)
        @Html.ValidationMessageFor(m => m.widthImgDepartment)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.columnDepartment, StoreLanguage.columnDepartment)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.columnDepartment)
        @Html.ValidationMessageFor(m => m.columnDepartment)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.MoneyProcent, StoreLanguage.MoneyProcent)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.MoneyProcent)
        @Html.ValidationMessageFor(m => m.MoneyProcent)
    </div>

    <div class="editor-label">
        @Html.CheckBoxFor(m => m.onlineBuy)
        @Html.LabelFor(m => m.onlineBuy, StoreLanguage.onlineBuy)
    </div>
    <div class="editor-label">
        @Html.CheckBoxFor(m => m.organizationBuy)
        @Html.LabelFor(m => m.organizationBuy, StoreLanguage.organizationBuy)
    </div>

    <div class="editor-label">
        @Html.LabelFor(m => m.roleChiefStoreManager, StoreLanguage.roleChiefStoreManager)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.roleChiefStoreManager)
        @Html.ValidationMessageFor(m => m.roleChiefStoreManager)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.roleStoreManager, StoreLanguage.roleStoreManager)
    </div><div class="editor-field">
        @Html.TextBoxFor(m => m.roleStoreManager)
        @Html.ValidationMessageFor(m => m.roleStoreManager)
    </div>
    <div class="button">
        @Html.MytripButton(CoreLanguage.save,true,"left")
        @Html.MytripButton("/Core/ControlPanel", CoreLanguage.cancel, false,"left")
    </div>
</fieldset>
}
}

