@model mtm.Weather.Models.ManagerModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(WeatherLanguage.edit_Weather, "/");
    ViewBag.Keywords=Html.MytripPageTitle(WeatherLanguage.edit_Weather, ",");
    ViewBag.Description=Html.MytripPageTitle(WeatherLanguage.edit_Weather, ",");
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js")
}
@section content{
<h1 class="title">@WeatherLanguage.edit_Weather</h1>
@using (Html.BeginForm()){
<fieldset>
<div class="editor-label">
@Html.LabelFor(model => model.Title, WeatherLanguage.Title)
</div><div class="editor-field">   
@Html.TextBoxFor(model => model.Title, new { style = "width: 350px;" })
@Html.ValidationMessageFor(model => model.Title)
</div><div class="editor-label">
@Html.LabelFor(model => model.UrlXml, WeatherLanguage.UrlXml)
<a href="http://informer.gismeteo.ru/getcode/xml.php" target="_blank">informer.gismeteo.ru</a>
</div><div class="editor-field">
@Html.TextBoxFor(model => model.UrlXml, new { style = "width: 350px;" })
@Html.ValidationMessageFor(model => model.UrlXml)
</div><div class="editor-label">
@Html.CheckBoxFor(model => model.VisibleInformer)
@Html.LabelFor(model => model.VisibleInformer, WeatherLanguage.VisibleInformer)
</div><div class="editor-label">
@Html.CheckBoxFor(model => model.AllCulture)
@Html.LabelFor(model => model.AllCulture, WeatherLanguage.AllCulture)
</div>
<div class="button">
@Html.MytripButton(WeatherLanguage.edit_Weather,true,"left")
@Html.MytripButton("/Weather/Manager", CoreLanguage.cancel, false,"left") 
</div>
</fieldset>
} 
}

