@model mtm.Articles.Models.ArchiveIndexModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(ArticleLanguage.articles_manager, "/");
    ViewBag.Keywords=Html.MytripPageTitle(ArticleLanguage.articles_manager, ",");
    ViewBag.Description=Html.MytripPageTitle(ArticleLanguage.articles_manager, ",");
}
@section content{
<h1 class="title">
@ArticleLanguage.articles_manager</h1>
<div class="content">
@Html.ArchiveStatistic()
</div>
<h1 class="title">
@ArticleLanguage.latest_updates</h1>
<div class="content">
<div class="right">
@Html.CountPager(Model.Count)
</div>
@Html.LatestUpdates(Model.Count) 
</div>
<h1 class="title">
@Html.ActionLink(ArticleLanguage.closed_articles,"ArchiveDetails",new {id="ClosedArticles"}) 
</h1>
<div class="content">
@Html.ClosedArticles(Model.Count)
</div>
}

