@model mtm.Articles.Models.ArticleSettingModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(ArticleLanguage.article_setting, "/");
    ViewBag.Keywords=Html.MytripPageTitle(ArticleLanguage.article_setting, ",");
    ViewBag.Description=Html.MytripPageTitle(ArticleLanguage.article_setting, ",");
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js,mtm.CheckedShow.js")
}
@section content{
<h1 class="title">@ArticleLanguage.article_setting</h1>
@using (Html.BeginForm()) {
<fieldset>       
<div class="editor-field">
@Html.CheckBoxFor(model => model.articles)
@Html.LabelFor(model => model.articles, ArticleLanguage.unlock_articles)
</div><div class="editor-field">
@Html.CheckBoxFor(model => model.blogs)
@Html.LabelFor(model => model.blogs, ArticleLanguage.unlock_blogs)
</div><div name="closecountCommentForBlogs" style="display: none">
<div class="editor-label">
@Html.LabelFor("countCommentForBlogs", ArticleLanguage.countCommentForBlogs)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.countCommentForBlogs)
@Html.ValidationMessageFor(model => model.countCommentForBlogs)
</div></div>
<div class="editor-field">
@Html.CheckBoxFor(model => model.closecountCommentForBlogs, new { id = "closecountCommentForBlogs_hideOnDiv" })
@Html.LabelFor("closecountCommentForBlogs_hideOnDiv", ArticleLanguage.closecountCommentForBlogs)
</div><div class="editor-field">
@Html.CheckBoxFor(model => model.viewInfoAuthorArticle)
@Html.LabelFor(model => model.viewInfoAuthorArticle, ArticleLanguage.viewInfoAuthorArticle)
</div><div class="editor-field">
@Html.CheckBoxFor(model => model.viewInfoViewsArticle)
@Html.LabelFor(model => model.viewInfoViewsArticle, ArticleLanguage.viewInfoViewsArticle)
</div><div class="editor-field">
@Html.CheckBoxFor(model => model.showRelatedLinks)
@Html.LabelFor(model => model.showRelatedLinks, ArticleLanguage.showRelatedLinks)
</div><div class="editor-field">
@Html.CheckBoxFor(model => model.viewInfoClosedComments)
@Html.LabelFor(model => model.viewInfoClosedComments, ArticleLanguage.viewInfoClosedComments)
</div><div class="editor-label">
@Html.LabelFor(model => model.nameArticles, ArticleLanguage.nameArticles)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.nameArticles)
@Html.ValidationMessageFor(model => model.nameArticles)
</div><div class="editor-label">
@Html.LabelFor(model => model.nameBlogs, ArticleLanguage.nameBlogs)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.nameBlogs)
@Html.ValidationMessageFor(model => model.nameBlogs)
</div><div class="editor-label">
@Html.LabelFor(model => model.nameSearch, ArticleLanguage.nameSearch)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.nameSearch)
@Html.ValidationMessageFor(model => model.nameSearch)
</div><div class="editor-label">
@Html.LabelFor(model => model.nameTags, ArticleLanguage.nameTags)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.nameTags)
@Html.ValidationMessageFor(model => model.nameTags)
</div><div class="editor-label" style="display:@Model.viewAdmin">
@Html.LabelFor(model => model.roleArticleEditor, ArticleLanguage.roleArticleEditor)
</div><div class="editor-field" style="display:@Model.viewAdmin"> 
@Html.TextBoxFor(model => model.roleArticleEditor)
@Html.ValidationMessageFor(model => model.roleArticleEditor)
</div><div class="editor-label" style="display:@Model.viewAdmin">
@Html.LabelFor(model => model.roleBlogger, ArticleLanguage.roleBlogger)
</div><div class="editor-field" style="display:@Model.viewAdmin">
@Html.TextBoxFor(model => model.roleBlogger)
@Html.ValidationMessageFor(model => model.roleBlogger)
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.cancel, false,"left") 
</fieldset> 
}
}