@model mtm.Core.Models.CreateBaseModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(Model.pageTitle);
    ViewBag.Keywords = mtm.Core.Settings.CoreSetting.HomePageKeyWords();
    ViewBag.Description = mtm.Core.Settings.CoreSetting.HomePageDesc();
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js,mtm.CheckedShow.js")
}
@section content{
@Html.BreadCumps(">", Model.bread)
<h1 class="title">@Model.pageTitle</h1>
<div id="errorsumm"></div>
<div class="last"></div>
@using (Html.BeginForm()) {
<fieldset>
<div class="editor-label">
@Html.LabelFor(model => model.Provider, CoreLanguage.Provider)
</div>
<div class="editor-field">
@Html.DropDownListFor(model => model.Provider, Model.AllProvider)             
@Html.ValidationMessageFor(model => model.Provider)
</div>
<div class="editor-label">  
@Html.CheckBoxFor(model => model.IntegratedSecurity, new { id = "IntegratedSecurity_hideOnDiv" })
<label for='IntegratedSecurity_hideOnDiv'>@CoreLanguage.IntegratedSecurity</label>
</div>   
<div class="editor-label">
@Html.LabelFor(model => model.Server, CoreLanguage.Server)
</div>	    
<div class="editor-field">
@Html.TextBoxFor(model => model.Server)
@Html.ValidationMessageFor(model => model.Server) 
</div>
<div class="editor-label">	
@Html.LabelFor(model => model.DataBase, CoreLanguage.DataBase)
</div>	    
<div class="editor-field">
@Html.TextBoxFor(model => model.DataBase)
@Html.ValidationMessageFor(model => model.DataBase) 
</div>
<div name="IntegratedSecurity" style="display: none">
<div class="editor-label">
@Html.LabelFor(model => model.User, CoreLanguage.UserName)
</div>	    
<div  class="editor-field" >
@Html.TextBoxFor(model => model.User)  
@Html.ValidationMessageFor(model => model.User) 
</div>
<div class="editor-label" >	
@Html.LabelFor(model => model.Password, CoreLanguage.Password)
</div>	    
<div  class="editor-field" >
@Html.TextBoxFor(model => model.Password)
@Html.ValidationMessageFor(model => model.Password) 
</div>  </div>           
<div class="button">
@if (mtm.Core.Settings.CoreSetting.Development())
{
@Html.MytripButton(CoreLanguage.next, true, "right")
}
else { 
@Html.MytripButton(CoreLanguage.save, true, "left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.cancel, false, "left") 
}
</div>
</fieldset>
} 
}