@model Mytrip.Mvc.Models.CreateBaseModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.CreateBase, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.CreateBase, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.CreateBase, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,Mytrip.Mvc.CheckedShow.js")
}
@section content{
<h1 class="title">@CoreLanguage.CreateBase</h1>
@{ Html.EnableClientValidation(); }
@using (Html.BeginForm()) {
<fieldset>
<div class="editor-label">
@Html.MytripLabelFor("Provider",CoreLanguage.Provider)
</div>
<div class="editor-field">
@Html.DropDownListFor(model => model.Provider, Model.AllProvider)             
@Html.ValidationMessageFor(model => model.Provider)
</div>
<div class="editor-label">  
@Html.CheckBoxFor(model => model.IntegratedSecurity, new { id = "integ" })
@Html.MytripLabelFor("Provider",CoreLanguage.IntegratedSecurity)
</div>   
<div class="editor-label">
@Html.MytripLabelFor("Server",CoreLanguage.Server )
</div>	    
<div class="editor-field">
@Html.TextBoxFor(model => model.Server)
@Html.ValidationMessageFor(model => model.Server) 
</div>
<div class="editor-label">	
@Html.MytripLabelFor("DataBase",CoreLanguage.DataBase) 
</div>	    
<div class="editor-field">
@Html.TextBoxFor(model => model.DataBase)
@Html.ValidationMessageFor(model => model.DataBase) 
</div>
<div id="_integ" style="display: none">
<div class="editor-label">
@Html.MytripLabelFor("User",CoreLanguage.UserName) 
</div>	    
<div  class="editor-field" >
@Html.TextBoxFor(model => model.User)  
@Html.ValidationMessageFor(model => model.User) 
</div>
<div class="editor-label" >	
@Html.MytripLabelFor("Password",CoreLanguage.Password) 
</div>	    
<div  class="editor-field" >
@Html.TextBoxFor(model => model.Password)
@Html.ValidationMessageFor(model => model.Password) 
</div>  </div>           
<div class="button">
@Html.MytripButton(CoreLanguage.next,true,"right")
</div>
</fieldset>
} 
}