@model Mytrip.Mvc.Models.FooterModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
	View.Title = Html.MytripPageTitle(CoreLanguage.edit_footer, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.edit_footer, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.edit_footer, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,jHtmlArea.Mytrip.js,jHtmlArea.Smiles.js,Page/Core.About.js")
}
@section content{
<h1 class="title">@CoreLanguage.edit_footer</h1>
@using (Html.BeginForm()){
<fieldset>
<div class="editor-field">
<div class="dark">
@Html.TextAreaFor(model => model.Content, new { id = "article", style = "height: 400px; width:100%;" })
</div></div>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.cancel, false,"left") 
</div>
</fieldset>
}
}


