@model mtm.Core.Models.ChangeEmailModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(CoreLanguage.change_email);
    ViewBag.Keywords = mtm.Core.Settings.CoreSetting.HomePageKeyWords();
    ViewBag.Description = mtm.Core.Settings.CoreSetting.HomePageDesc();
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js")
}
@section content{
	@Html.BreadCumps(">",Model.bread)
    <table class="noborders">
<tr>
<td style="width: 180px;">
         <div style="text-align: center;"><a href='/Home/Profile/@TempData["username"].ToString()'>
@Html.Avatar(TempData["useremail"].ToString(), new { title="Profile"})</a></div>
     @Html.Partial("Partial/_profileSmall")
</td>
<td>
<h1 class="title">@CoreLanguage.change_email</h1>
<div id="errorsumm"></div>
<div class="last"></div>
    @if(!Model.Change){
using (Html.BeginForm()){ 
<fieldset>
<div class="editor-label">
@Html.LabelFor(m => m.Email, CoreLanguage.Email)
</div>
<div class="editor-field">
@Html.TextBoxFor(m => m.Email)
@Html.ValidationMessageFor(m => m.Email)
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"left")
</div>
</fieldset>
} }else{
 <div class="appr">
<p>@CoreLanguage.email_success</p>
</div>   
}
</td></tr>
</table>
	}