@model Mytrip.Gismeteo.Models.GismeteoSettingModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(GismeteoLanguage.Gismeteosetting, "/");
    View.Keywords=Html.MytripPageTitle(GismeteoLanguage.Gismeteosetting, ",");
    View.Description=Html.MytripPageTitle(GismeteoLanguage.Gismeteosetting, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
}
@section content{
<h1 class="title">@GismeteoLanguage.Gismeteosetting</h1>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){
<fieldset>
<div class="editor-field">
@Html.CheckBoxFor(model => model.unlockGismeteo)
@Html.MytripLabelFor("unlockGismeteo",GismeteoLanguage.unlockGismeteo)
</div><div class="editor-label">
@Html.MytripLabelFor("nameGismeteo",GismeteoLanguage.nameGismeteo)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.nameGismeteo)
@Html.ValidationMessageFor(model => model.nameGismeteo)
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.save,true,"left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.cancel, false,"left") 
</div>
</fieldset>            
}
}

