@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@View.Title</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link href="/RssArticle/RssArticles" rel="alternate" type="application/rss+xml" title="Articles" />
<link href="/RssArticle/RssBlogs" rel="alternate" type="application/rss+xml" title="Blogs" />
@Html.CssLink("Site.css") @RenderSection("csslink",required: false) 
@Html.ScriptLink("jquery-1.4.2.js,Mytrip.Mvc.Include.js") @RenderSection("scriptlink",required: false)
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18731834-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<meta name="keywords" content="@View.Keywords" />
<meta name="description" content="@View.Description" />	
</head>
<body>
<div class="page">
<div id="header">
<div id="logindisplay">
@Html.LanguageMenu()@Html.ThemeMenu()@Html.LogonMenu()
</div>
<div id="announce">
@Html.Partial("_announce")
</div>
<div id="title">
@Html.Logo()
</div>
<div id="menucontainer">
@Html.Partial("_menu")
</div>
</div>
<div id="main">
@RenderSection("content",required: false)
<div id="mainSmall">
@RenderSection("contentSmall",required: false)
</div><div id="mainBig">
@RenderSection("contentBig",required: false)
</div>
<div class="clear"></div>
</div>
<div id="footer">
@Html.FooterLogo()
<span>@Html.Partial("_footer")</span>          
</div>
</div>
</body>
</html>
