@model Mytrip.Store.Models.CreateProductXmlModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(StoreLanguage.uploadproductxml, "/");
    View.Keywords=Html.MytripPageTitle(StoreLanguage.uploadproductxml, ",");
    View.Description=Html.MytripPageTitle(StoreLanguage.uploadproductxml, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,Page/Store.CreateProductXml.js")
}
@section content{
<h1 class="title">@StoreLanguage.uploadproductxml</h1>

<form id="myForm" action="/Store/CreateProductXml" method="post" enctype="multipart/form-data" >
<div class="textboxR">@Html.MytripInputFile("file","id")</div>
<div id="divfiletext" class="textboxR">@Html.TextBox("a", "", new { id="filetext"})</div>
<div class="editor-label">
@Html.MytripLabelFor("departmentid", StoreLanguage.departmentId)
</div><div class="editor-field">
@Html.DropDownListFor(m => m.departmentid, Model.SelectDepartment)
</div>
<div class="editor-label">
@Html.MytripLabelFor("producerid", StoreLanguage.producerId)
</div><div class="editor-field">
@Html.DropDownListFor(m => m.producerid, Model.SelectProducer)
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"left")
</div>
</form>
}

