@model Mytrip.Store.Models.EditorProductModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(Model.pagetitle, "/");
    View.Keywords=Html.MytripPageTitle(Model.pagetitle, ",");
    View.Description=Html.MytripPageTitle(Model.pagetitle, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,jHtmlArea.Mytrip.js,jquery.form.js,Page/Store.EditorProduct.js")
}
@section content{
<h1 class="title">@Model.pagetitle</h1>
<table class="content">
<tr>
<td class="first1"></td>
<td class="last1" style="width: 300px;"></td>
</tr>
<tr>
<td class="first2">

@using (Html.BeginForm()){ 

<div class="editor-label">
@Html.MytripLabelFor("title", StoreLanguage.titleProduct)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.title)
@Html.ValidationMessageFor(m => m.title) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("departmentId", StoreLanguage.departmentId)
</div><div class="editor-field">
@Html.DropDownListFor(m => m.departmentId, Model.SelectDepartment)
</div>
<div class="editor-label">
@Html.MytripLabelFor("producerId", StoreLanguage.producerId)
</div><div class="editor-field">
@Html.DropDownListFor(m => m.producerId, Model.SelectProducer)
</div>
<div class="editor-label">
@Html.MytripLabelFor("namberCatalog", StoreLanguage.namberCatalog)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.namberCatalog)
@Html.ValidationMessageFor(m => m.namberCatalog) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("_abstract", StoreLanguage._abstract)
</div>
<div class="editor-field"><div class="dark">
@Html.TextAreaFor(m => m.abstracts, new { id = "abstract", style = "height: 200px; width:100%;" })
@Html.ValidationMessageFor(m => m.abstracts) 
</div></div>

<div class="editor-label">
@Html.MytripLabelFor("body", StoreLanguage.bodyProduct)
</div>
<div class="editor-field"><div class="dark">
@Html.TextAreaFor(m => m.body, new { id = "article", style = "height: 200px; width:100%;" })
@Html.ValidationMessageFor(m => m.body) 
</div></div>
<div class="editor-label">
@Html.MytripLabelFor("price", StoreLanguage.titlePrice) 
</div><div class="editor-field">
@Html.TextBoxFor(m => m.price)
@Html.ValidationMessageFor(m => m.price)
</div><div class="editor-field">
@Html.DropDownListFor(m => m.cultureMoney, Model.SelectCultureMoney) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("urlfile", StoreLanguage.packing)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.packing)
@Html.ValidationMessageFor(m => m.packing) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("totalcount", StoreLanguage.totalCount)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.totalcount)
@Html.ValidationMessageFor(m => m.totalcount) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("urlfile", StoreLanguage.UrlFile)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.urlfile)
@Html.ValidationMessageFor(m => m.urlfile) 
</div>
<div class="editor-label">
@Html.CheckBoxFor(m => m.viewcount)
@Html.MytripLabelFor("viewcount", StoreLanguage.viewcount)
</div>
<div class="editor-label">
@Html.CheckBoxFor(m => m.viewprice)
@Html.MytripLabelFor("viewprice", StoreLanguage.viewprice)
</div>
<div class="editor-label">
@Html.CheckBoxFor(m => m.viewvotes)
@Html.MytripLabelFor("viewvotes", StoreLanguage.viewvotes)
</div>
<div class="editor-label">
@Html.CheckBoxFor(m => m.allculture)
@Html.MytripLabelFor("allculture", StoreLanguage.allculture)
</div>
<div class="editor-label">
@Html.MytripLabelFor("Sale", StoreLanguage.Sale)
</div><div class="editor-field">
@Html.DropDownListFor(m => m.Sale, Model.SelectSale)
</div> 
<div class="button">
@Html.MytripButton(Model.submit, true,"left")
</div>
}
</td>
<td class="last2">
<form id="myForm" action="/Store/UploadFileProduct" method="post" enctype="multipart/form-data" >
<div class="editor-label">
@Html.MytripLabelFor("image", StoreLanguage.imageProduct)
</div><div class="last"></div><div style="clear: both;"></div>
<div class="textboxR">@Html.MytripInputFile("file","id")</div>
<div id="divfiletext" class="textboxR">@Html.TextBox("a", "", new { id="filetext"})</div>
<div style="clear: both;"></div><div class="last"></div>
 @Html.MytripButton(CoreLanguage.upload,true,"right")
</form>
<table class="noborders"><tr><td>
<div id="_myForm">
@Model.image
</div></td></tr>
</table>
<form id="myForm1" action="/Store/UploadFileProductOption" method="post" enctype="multipart/form-data" >
<div class="editor-label">
@Html.MytripLabelFor("image", StoreLanguage.imageProduct1)
</div><div class="last"></div><div style="clear: both;"></div>
<div class="textboxR">@Html.MytripInputFile("file","id2")</div>
<div id="divfiletext1" class="textboxR">@Html.TextBox("a", "", new { id="filetext1"})</div>
<div style="clear: both;"></div><div class="last"></div>
 @Html.MytripButton(CoreLanguage.upload,true,"right")
</form>
<table class="noborders"><tr><td>
<div id="_myForm1">
@Model.imageOption
</div></td></tr>
</table>
</td>

</tr>
<tr>
<td class="first3"></td>
<td class="last3"></td>

</tr>
</table>

<div id="smile" class="window"> 
<div class="modalTC">Smiles</div>
<div class="modalC">
@Html.MytripSmiles("/Content/smiles")
</div> 
</div> 
<div id="delete" class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "close","right")
@Html.MytripButton(CoreLanguage.remove, true, "enter","right")
</div></div></div>  
}

