@model Mytrip.Store.Models.OrderDetailsModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(string.Format(StoreLanguage.orderdetailstitle,Model.id), "/");
    View.Keywords=Html.MytripPageTitle(string.Format(StoreLanguage.orderdetailstitle,Model.id), ",");
    View.Description=Html.MytripPageTitle(string.Format(StoreLanguage.orderdetailstitle,Model.id), ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,Page/Store.OrdersDetails.js")
}
@section content{
<h1 class="title"><a href="/Store/ManagerOrders">@StoreLanguage.managerorders</a> / @string.Format(StoreLanguage.orderdetailstitle,Model.id)</h1>

@{Html.EnableClientValidation();}
@using (Html.BeginForm()){
<fieldset>
@Model.orderisproduct
<div class="content">
<div class="button">
@Html.MytripButton("/Store/AddAccount/"+Model.id, StoreLanguage.addaccount, false,"right")
</div>
</div>
<div class="last">
</div>
<table class="content">
<tr>
<td class="first1"></td>
<td class="last1" style="width: 50%;"></td>
</tr><tr>
<td class="first2">
<div class="editor-label">
@Html.MytripLabelFor("namberaccount", StoreLanguage.namberaccount)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.namberaccount)
@Html.ValidationMessageFor(m => m.namberaccount) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("delivery", StoreLanguage.Delivery1) 
</div><div class="editor-field">
@Html.TextBoxFor(m => m.delivery)
@Html.ValidationMessageFor(m => m.delivery)
</div><div class="editor-field">
@Html.DropDownListFor(m => m.moneyId, Model.SelectCultureMoney) 
</div>
</td>
<td class="last2">
<div class="righttext">
@Model.total
</div>
<div class="editor-label">
@Html.MytripLabelFor("priceInWords", StoreLanguage.priceInWords)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.priceInWords)
@Html.ValidationMessageFor(m => m.priceInWords) 
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"right")
@Html.MytripButton("/Store/CreateAccount/"+Model.id, StoreLanguage.Preview, false,"right")
@Html.MytripButton("/Store/SetAccount/"+Model.id, StoreLanguage.setaccount, false,"right")
</div>


</td>
</tr>
<tr>
<td class="first3"></td>
<td class="last3"></td>
</tr></table>


</fieldset>
<div class="last">
</div>
<table class="content">
<tr>
<td class="first1"></td>
<td class="last1" style="width: 50%;"></td>
</tr><tr>
<td class="first2">
<h3 class="title">@StoreLanguage.customer</h3>
<div class="editor-label">
@Html.MytripLabelFor("firstname", StoreLanguage.firstname)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.firstname)
@Html.ValidationMessageFor(m => m.firstname) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("lastname", StoreLanguage.lastname)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.lastname)
@Html.ValidationMessageFor(m => m.lastname) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("useremail", CoreLanguage.Email)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.useremail)
@Html.ValidationMessageFor(m => m.useremail) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("phone", StoreLanguage.phone)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.phone)
@Html.ValidationMessageFor(m => m.phone) 
</div>
<div style="display: @Model.viewOrganization" >
<div class="editor-label">
@Html.MytripLabelFor("phone", StoreLanguage.organization)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.organization)
@Html.ValidationMessageFor(m => m.organization) 
</div>
<div style="display: @Model.viewOrganizationRu" >
<div class="editor-label">
@Html.MytripLabelFor("phone", StoreLanguage.organizationINN)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.organizationINN)
@Html.ValidationMessageFor(m => m.organizationINN) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("phone", StoreLanguage.organizationKPP)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.organizationKPP)
@Html.ValidationMessageFor(m => m.organizationKPP) 
</div>
</div>
</div>
<div class="editor-label">
@Html.MytripLabelFor("address", StoreLanguage.address)
</div><div class="editor-field">
@Html.TextAreaFor(m => m.address, new {@class="message", style = "height: 50px; width:300px;" })
@Html.ValidationMessageFor(m => m.address) 
</div>
</td>
<td class="last2">
<h3 class="title">@StoreLanguage.seller</h3>
<div class="editor-label">
@Html.MytripLabelFor("sellerorganization", StoreLanguage.organization)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerorganization)
@Html.ValidationMessageFor(m => m.sellerorganization) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("selleremail", CoreLanguage.Email)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.selleremail)
@Html.ValidationMessageFor(m => m.selleremail) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("sellerphone", StoreLanguage.phone)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerphone)
@Html.ValidationMessageFor(m => m.sellerphone) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("selleraddress", StoreLanguage.address)
</div><div class="editor-field">
@Html.TextAreaFor(m => m.selleraddress, new {@class="message", style = "height: 50px; width:300px;" })
@Html.ValidationMessageFor(m => m.selleraddress) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("sellerdirector", StoreLanguage.sellerdirector)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerdirector)
@Html.ValidationMessageFor(m => m.sellerdirector) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("selleraccountant", StoreLanguage.selleraccountant)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.selleraccountant)
@Html.ValidationMessageFor(m => m.selleraccountant) 
</div>
<div style="display: @Model.viewOrganizationRu" >
<div class="editor-label">
@Html.MytripLabelFor("sellerorganizationINN", StoreLanguage.organizationINN)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerorganizationINN)
@Html.ValidationMessageFor(m => m.sellerorganizationINN) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("sellerorganizationKPP", StoreLanguage.organizationKPP)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerorganizationKPP)
@Html.ValidationMessageFor(m => m.sellerorganizationKPP) 
</div>
<div class="editor-label">
@Html.CheckBoxFor(m => m.sellerliteNDS)
@Html.MytripLabelFor("sellerliteNDS", StoreLanguage.sellerliteNDS)
</div>
</div>
<div class="editor-label">
@Html.MytripLabelFor("sellerbank", StoreLanguage.sellerbank)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerbank)
@Html.ValidationMessageFor(m => m.sellerbank) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("sellerbankaccount", StoreLanguage.sellerbankaccount)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerbankaccount)
@Html.ValidationMessageFor(m => m.sellerbankaccount) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("sellerbankaccountBIK", StoreLanguage.sellerbankaccountBIK)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerbankaccountBIK)
@Html.ValidationMessageFor(m => m.sellerbankaccountBIK) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("sellerbankaccountSeller", StoreLanguage.sellerbankaccountSeller)
</div><div class="editor-field">
@Html.TextBoxFor(m => m.sellerbankaccountSeller)
@Html.ValidationMessageFor(m => m.sellerbankaccountSeller) 
</div>
</td>
</tr>
<tr>
<td class="first3"></td>
<td class="last3"></td>
</tr></table>
}
}

