@model Mytrip.Mvc.Models.RenameModels
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.rename_file_or_folder, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.rename_file_or_folder, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.rename_file_or_folder, ",");
}
@section csslink{}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
}
<h1>@CoreLanguage.rename_file_or_folder</h1>
<div class="content">
@Html.MytripImage("/Content/files/Stuffed_Folder.png", Membership.ApplicationName,0,32,0) 
@Html.MytripDirectory(Model.Directory, "TextAreaFile",Model.Param)
</div>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){
<div class="last"></div> 
<div class="content">
<div class="editor-label">
 @Html.MytripLabelFor("Name",CoreLanguage.choose_new_name)
</div><div class="editor-field">
@Html.TextBoxFor(m=>m.Name)
@Html.ValidationMessageFor(m => m.Name) 
</div><div class="button">
@Html.MytripButton(CoreLanguage.rename,true,"left")
@Html.MytripButton(Url.Action("Index", "TextAreaFile", new { id = Model.Back, id2 = Model.Param }), CoreLanguage.back_to_list, false,"left") 
</div></div>
} 
