@inherits System.Web.Mvc.WebViewPage<Mytrip.Mvc.Models.EditAboutModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.edit_about, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(CoreLanguage.edit_about, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.edit_about, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,jHtmlArea.Mytrip.js,Page/Core.About.js")
}
@section content{
<h1 class="title">@CoreLanguage.edit_about</h1>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){
<fieldset>
<div class="editor-field">
<div class="dark">
@Html.TextAreaFor(model => model.body, new { id = "article", style = "height: 400px; width:100%;" })
@Html.ValidationMessageFor(model => model.body) 
</div></div>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.cancel, false,"left") 
</div>
</fieldset>
}
<div class="window"> 
<div class="modalTC">Smiles</div>
<div class="modalC">
@Html.MytripSmiles("/Content/smiles")
</div> 
</div>      
}

