@inherits System.Web.Mvc.WebViewPage<Mytrip.Mvc.Models.HomePageModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.homepage_setting, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(CoreLanguage.homepage_setting, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.homepage_setting, ",");
}
@section scriptlink{
@Html.ScriptLink("Page/Core.HomePage.js")
}
@section content{
<h2 class="title">@CoreLanguage.homepage_setting </h2>
@CoreLanguage.homepage_desc
<table id="content" class="content">
<tr>
<td class="first1" style="width: 70%;"></td>
<td class="last1" style="width: 30%;"></td>
</tr><tr>
<td class="first2">
<h3 class="hometitle">@CoreLanguage.display_on_main</h3>
</td><td class="last2">
<h3 class="hometitle">@CoreLanguage.available_moduls</h3>
</td></tr><tr>
<td class="first3"></td>
<td class="last3"></td>
</tr><tr>
<td class="first1"></td>
<td class="last1"></td>
</tr><tr>
<td id="left" class="first2"><div class="last"></div>
@foreach (var item in Model.HomeItems){ 

<div id="@item.Id" ><div class="last"></div>
<div class="dark">
<table class="noborders">
<tr><td> 
<span>
@Html.MytripImageLink("addremove"+item.Id,"#","/images/rightarrow_blue.png",CoreLanguage.remove,"img16")
</span>
@Html.MytripImage("/images/"+item.Culture+".png",item.Culture,"img16")
<span id="@("index"+item.Id)">@item.Index</span>
<b>(<label id="@("assembly"+item.Id)">@item.Assembly</label>)</b>
<label id="@("title"+item.Id)">@item.Name</label>
<span id="@("sort"+item.Id)" class="right">
@Html.MytripImageLink("up"+item.Id,"#","/images/uparrow_blue.png",CoreLanguage.up,"img16")
@Html.MytripImageLink("down"+item.Id,"#","/images/downarrow_blue.png",CoreLanguage.down,"img16")
</span>
</td></tr>
<tr id="@("options"+item.Id)">
<td>
<div class="withe">
<table class="font08em">
<tr>
<td>@CoreLanguage.rows</td>
<td>@CoreLanguage.columns</td>
<td>@CoreLanguage.content_lenght (chars)</td>
<td>@CoreLanguage.image_width (px)</td>
<td>@CoreLanguage.style (v)</td>
<td>@Html.MytripLabelFor("showtitle"+item.Id,CoreLanguage.show_title)</td>
</tr><tr><td>
@Html.TextBox("ctrrows"+item.Id,item.Rows,new{@class="w40px"})
</td><td>
@Html.TextBox("ctrcolumns"+item.Id,item.Columns,new{@class="w40px"})
</td><td>
@Html.TextBox("content"+item.Id,item.Content,new{@class="w100px"})
</td><td>
@Html.TextBox("image"+item.Id,item.Image,new{@class="w80px"})
</td><td>
@Html.TextBox("style"+item.Id,item.Style,new{@class="w20px"})
</td><td>
@Html.CheckBox("showtitle" + item.Id, item.Showtitle)
</td></tr>
</table>
</div>
</td></tr>
</table>
</div>
<div class="last"></div></div>
} 
<div class="last"></div>
</td>
<td id="right" class="last2"><div class="last"></div>
@foreach (var newitem in Model.NewHomeItems){
<div id="@newitem.Id" ><div class="last"></div><div class="dark">
<table class="noborders">
<tr><td> 
<span>
@Html.MytripImageLink("addremove"+newitem.Id,"#","/images/leftarrow_blue.png",CoreLanguage.add,"img16")
</span>
@Html.MytripImage("/images/"+newitem.Culture+".png",newitem.Culture,"img16")
<span id="@("index"+newitem.Id)"></span>
<b>(<label id="@("assembly"+newitem.Id)">@newitem.Assembly</label>)</b>
<label id="@("title"+newitem.Id)">@newitem.Name</label>
<span id="@("sort"+newitem.Id)" class="right" style="display: none;">
@Html.MytripImageLink("up"+newitem.Id,"#","/images/uparrow_blue.png",CoreLanguage.up,"img16")
@Html.MytripImageLink("down"+newitem.Id,"#","/images/downarrow_blue.png",CoreLanguage.down,"img16")
</span>
</td></tr>
<tr id="@("options"+newitem.Id)" style="display: none;">
<td>
<div class="withe">
<table class="font08em">
<tr>
<td>@CoreLanguage.rows</td>
<td>@CoreLanguage.columns</td>
<td>@CoreLanguage.content_lenght (chars)</td>
<td>@CoreLanguage.image_width (px)</td>
<td>@CoreLanguage.style (v)</td>
<td>@Html.MytripLabelFor("showtitle"+newitem.Id,CoreLanguage.show_title)</td>
</tr><tr>
<td>
@Html.TextBox("ctrrows"+newitem.Id,"1",new{@class="w40px"})
</td><td>
@Html.TextBox("ctrcolumns"+newitem.Id,"1",new{@class="w40px"})
</td><td>
@Html.TextBox("content"+newitem.Id,"100",new{@class="w100px"})
</td><td>
@Html.TextBox("image"+newitem.Id,"50",new{@class="w80px"})
</td><td>
@Html.TextBox("style"+newitem.Id,"2",new{@class="w20px"})
</td><td>
@Html.CheckBox("showtitle" + newitem.Id, true)</td>
</tr>
</table>
</div>
</td></tr>
</table>
</div>
<div class="last"></div></div>
}
<div class="last"></div> 
</td></tr><tr>
<td class="first3"></td>
<td class="last3"></td>
</tr>
</table>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"save","left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.Backtocontrolpanel, false,"left")
<span id="result" style="padding-left:10px;"></span>
</div>
}

