@model Mytrip.Mvc.Models.ModulesModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
     View.Title = Html.MytripPageTitle(CoreLanguage.InstallModules, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.InstallModules, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.InstallModules, ",");
}
@section csslink{}
@section scriptlink{
@Html.ScriptLink("Mytrip.Mvc.Delete.js")
}
@section contentBig{}
@section contentSmall{}
@section content{
<h1 class="title">@CoreLanguage.InstallModules</h1>
<table class="content">
<tr>   
<td class="first1" style="width: 50%;"></td>
<td class="last1" style="width: 50%;"></td>
</tr><tr>
<td class="first2" style="width: 50%;">
<h3 class="hometitle">@CoreLanguage.InstallModules</h3>
<table class="leftmidle">
@foreach (var x in Model.modules){
<tr><td>
@Html.MytripImgInput("/images/addmodule.png","/Core/InstallModule/"+x.Key,"rename")
</td><td>
@x.Key
</td></tr>
}
</table> 
</td>
<td class="last2" style="width: 50%;">
<h3 class="hometitle">@CoreLanguage.uninstallmodules</h3>
<table class="leftmidle">
@foreach (var x in Model.uninstall){
<tr><td>
@Html.MytripImgInput("/images/deletemodule.png","/Core/UninstallModule/"+x.Value,"delete")
</td><td> 
@x.Value
</td></tr>
} 
</table> 
</td></tr><tr>
<td class="first3" style="width: 50%;"></td>
<td class="last3" style="width: 50%;"></td>
</tr></table>
<div class="button">
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.Backtocontrolpanel, true,"left")</div>
<div class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "close","right")
@Html.MytripButton(CoreLanguage.remove, true, "enter","right")
</div></div></div> 
}

