@model Mytrip.Articles.Models.ArchiveIndexModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(Model.PageTitle, "/");
    View.Keywords=Html.MytripPageTitle(Model.PageTitle, ",");
    View.Description=Html.MytripPageTitle(Model.PageTitle, ",");
}
@section scriptlink{
@Html.ScriptLink("Page/Articles.js")
}
@section content{
 <h1 class="title">@Model.PageTitle </h1>
<div class="content">
@Html.CulturePager(Model.Path)
@Html.ShowDetails(Model.Path,Model.Culture)
<div class="button">
@Html.MytripButton("/Article/Archive", ArticleLanguage.back_to_archive, true,"left")</div>
</div>

@Html.Hidden("editId")
<div id="deleteModal" class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "cancel","right")
@Html.MytripButton(CoreLanguage.remove, true, "ok","right")      
</div>
</div> 
</div>

<div id="modalCategory" class="window"> 
<div class="modalTC">@Html.MytripImage("/images/edite.png","edit","img14")
@ArticleLanguage.edit</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
</td><td>
@Html.MytripLabelFor("catTitle", ArticleLanguage.name)
@Html.TextBox("catTitle")
<span class="field-validation-valid" id="Title_Error"></span>
@Html.Hidden("modalEditId")
@Html.HiddenFor(model => model.Path)
<div id="modalShowMenu">
@Html.CheckBox("modalSeparateBlock")
@Html.MytripLabelFor("modalSeparateBlock", ArticleLanguage.add_to_menu)
</div><div id="modalShowLang">
@Html.CheckBox("modalAllCulture")
@Html.MytripLabelFor("modalAllCulture", ArticleLanguage.display_all_lang)
</div></td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, true, "cancel","right")
@Html.MytripButton("   Ok   ", false, "okEditCategory","right")   
</div>
</div> 
</div>

<div id="modalComment" class="window""> 
<div class="modalTC">@Html.MytripImage("/images/edite.png","edit","img14")
@ArticleLanguage.edit_comment</div>
<div class="modalC">
<table>
<tr>
<td>
<div class="editor-field"><div class="dark">
@Html.TextArea("EditComment", new { id = "modalCommentEditor", style = "height: 175px;" })
</div></div>
<span class="field-validation-valid" id="Comment_Error"></span>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, true, "cancel","right")
@Html.MytripButton("   Ok   ", false, "okEditComment","right")   
</div> 
</div></div>        
}

