@inherits System.Web.Mvc.WebViewPage<Mytrip.Mvc.Models.IndexFilesModels>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.file_manager, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(CoreLanguage.file_manager, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.file_manager, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,Page/File.js")
}
@section content{
<h1 class="title">@CoreLanguage.file_manager</h1>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){
<div><div class="textboxR">
@Html.ValidationMessageFor(m => m.Name) 
</div></div><br />
@Html.MytripButton(CoreLanguage.create,true,"right")
<div class="textboxR">@Html.TextBoxFor(m=>m.Name)</div>
<div class="textboxR">@CoreLanguage.create_new_folder</div>
}
@using (Html.BeginForm("AddFile", "File", new { id = Model.Directory}, FormMethod.Post,new {enctype = "multipart/form-data" })){
<div style="clear: both;">
<div class="textboxR">@Html.ValidationMessageFor(m => m.Error)</div>
</div><br />
@Html.MytripButton(CoreLanguage.upload,true,"right")
<div class="textboxR">@Html.MytripInputFile("file","id2")</div>
<div id="divfiletext" class="textboxR">@Html.TextBox("a", "", new { id="filetext"})</div>
<div class="textboxR">@CoreLanguage.upload_file</div> 
}
<div style="height: 2px;clear: both;"></div>
<table>
<tr><th class="rootfolder">
@Html.MytripImageLink(Url.Action("Index",new { id= "()" }),"/Content/files/Stuffed_Folder.png", Membership.ApplicationName,0,32,0) 
</th><th>
@Html.ActionLink(Membership.ApplicationName, "Index", new { id = "()" })
@Html.MytripDirectory(Model.Directory)
</th></tr>
</table>
<table>
<tr>
<th class="editdelite"></th>
<th class="folderfile"></th>
<th></th>
<th class="filechangedate">@CoreLanguage.change_date</th>
<th class="filesize">@CoreLanguage.size</th>
</tr>
@foreach (System.IO.DirectoryInfo x in Model.Folders){      
string directory =(Model.Directory=="()")? "()" + x.Name:Model.Directory + "()" + x.Name;           
<tr><td>
@Html.MytripImgInput("/images/detail.png","/File/Rename/"+directory+"/folder","rename")
@Html.MytripImgInput("/images/delete.png","/File/Delete/"+directory+"/folder","delete")
</td><td>
@Html.MytripImageLink(Url.Action("Index", "File", new { id=directory }),"/Content/files/Stuffed_Folder.png", x.Name, 0, 32, 0)
</td><td>
@Html.MytripActionLink(Url.Action("Index", "File", new { id=directory}), x.Name)
</td><td></td>
<td></td></tr>
}
@foreach (System.IO.FileInfo x in Model.Files){
string directory =(Model.Directory=="()")? "()" + x.Name:Model.Directory + "()" + x.Name;
<tr><td>
@Html.MytripImgInput("/images/detail.png","/File/Rename/"+directory+"/file","rename")
@Html.MytripImgInput("/images/delete.png","/File/Delete/"+directory+"/file","delete")
</td><td>
@Html.FileImageLink(x.Name, 0, 32, 0,directory,x.Name,x.Extension)
</td><td>
@Html.FileActionLink(directory, x.Name, x.Extension)
</td><td>
@x.LastWriteTime
</td><td>
@x.Length 
@CoreLanguage.bytes
</td></tr>
}
</table>
<div class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png","warning","i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cansel, false, "close","right")
@Html.MytripButton(CoreLanguage.remove, true, "enter","right")      
</div>
</div> 
</div> 
}

