@model mtm.Core.Models.CoreModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(CoreLanguage.Core_Settings, "/");
    ViewBag.Keywords=Html.MytripPageTitle(CoreLanguage.Core_Settings, ",");
    ViewBag.Description=Html.MytripPageTitle(CoreLanguage.Core_Settings, ",");
}
@section scriptlink{
@Html.ScriptLink("mtm.CheckedShow.js")
}
@section content{
<h1 class="title">@CoreLanguage.Core_Settings</h1>
@using (Html.BeginForm()){
<fieldset>
<table class="noborders"><tr><td>
<div class="editor-label">
@Html.LabelFor(model => model.nameLogo, CoreLanguage.nameLogo)
</div>
<div class="editor-field">
@Html.TextBoxFor(model => model.nameLogo)
@Html.ValidationMessageFor(model => model.nameLogo)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.nameTitle, CoreLanguage.nameTitle)
</div>
<div class="editor-field">
@Html.TextBoxFor(model => model.nameTitle)
@Html.ValidationMessageFor(model => model.nameTitle)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.nameHome, CoreLanguage.homepage_name)
</div>
<div class="editor-field">
@Html.TextBoxFor(model => model.nameHome)
@Html.ValidationMessageFor(model => model.nameHome)
</div>
<div class="editor-label">
@Html.CheckBoxFor(model => model.unlockGravatar)
@Html.LabelFor(model => model.unlockGravatar, CoreLanguage.unlockGravatar)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.CountLatestUsers, CoreLanguage.CountLatestUsers)
</div>
<div class="editor-field">
@Html.TextBoxFor(model => model.CountLatestUsers)
@Html.ValidationMessageFor(model => model.CountLatestUsers)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.MenuPosition, CoreLanguage.MenuPosition)
</div>
<div class="editor-field">
@Html.DropDownListFor(model => model.MenuPosition, Model.MenuPositionSelect)
</div>
<div class="editor-label">
@Html.LabelFor(model => model.SideBarPosition, CoreLanguage.PositionSideBar)
</div>
<div class="editor-field">
@Html.DropDownListFor(model => model.SideBarPosition, Model.SideBarPositionSelect)
</div>
</td><td>
<h3 class="hometitle">@CoreLanguage.Localization_Settings</h3>
<div class="editor-label">
@Html.LabelFor(model => model.defaultCulture, CoreLanguage.defaultCulture)
</div>
<div class="editor-field">
@Html.DropDownListFor(model => model.defaultCulture, Model.AllCulture)
</div><div class="editor-label">
@Html.CheckBoxFor(model => model.unlockAllCulture)
@Html.LabelFor(model => model.unlockAllCulture, CoreLanguage.unlockAllCulture)
</div>
<h3 class="hometitle">@CoreLanguage.Theme_Settings</h3>
<div class="editor-label">
@Html.LabelFor(model => model.defaultTheme, CoreLanguage.defaultTheme)
</div>
<div class="editor-field">
@Html.DropDownListFor(model => model.defaultTheme, Model.AllTheme)
</div><div class="editor-label">
@Html.CheckBoxFor(model => model.unlockTheme)
@Html.LabelFor(model => model.unlockTheme, CoreLanguage.unlockTheme)
</div>
<div class="editor-label">
@Html.CheckBoxFor(model => model.unlockWrap)
@Html.LabelFor(model => model.unlockWrap, CoreLanguage.unlockwrap)
</div>
</td></tr></table>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true, "left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.cancel, false, "left") 
</div>
</fieldset>
}
}

