@inherits System.Web.Mvc.WebViewPage<Mytrip.Store.Models.ProductModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle("", "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle("", ",");
    View.Description=Html.MytripPageTitle("", ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcAjax.js,Page/Store.Index.js")
}
@section contentSmall{
@Html.Partial("_sideBar") 
}
@section contentBig{
<div id="appr"></div><div class="last"></div> 
@if(Model.comparison&&Model.comparison2){
@Html.StoreProduct(Model.Product,100,1,false,false,true,Model.comparison2)
}
else if(Model.comparison&&!Model.comparison2)
{
<div class="content">
@Html.ViewProduct(Model.ViewProduct)
</div>
<div class="last"></div>

@Html.ViewOptions(Model.ViewProduct)

}
else if(!Model.comparison&&!Model.comparison2){
<div class="noappr">
<div class="left">
@Html.MytripImage("/images/error.png","error",null)</div>
<h1 class="error">@StoreLanguage.nocompare</h1>
<br/>
<span class="error">@StoreLanguage.nocompare2</span>
</div>
}
}

