@model Mytrip.Rssparser.Models.ManagerModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(RssparserLanguage.edit_rss_feed, "/");
    View.Keywords=Html.MytripPageTitle(RssparserLanguage.edit_rss_feed, ",");
    View.Description=Html.MytripPageTitle(RssparserLanguage.edit_rss_feed, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,jHtmlArea.Mytrip.js,Page/Rssparser.js")
}
@section content{
<h1 class="title">@RssparserLanguage.edit_rss_feed</h1>    

@using (Html.BeginForm()){
<fieldset>
<div class="editor-label">
@Html.HiddenFor(x=>x.RssId)
@Html.MytripLabelFor("Title", RssparserLanguage.rssfeed_title)
</div><div class="editor-field"> 
@Html.TextBoxFor(x=>x.Title,new { style = "width: 350px;"})
@Html.ValidationMessage("Title")
</div><div class="editor-label">
@Html.MytripLabelFor("RssUrl", RssparserLanguage.rssfeed_url)
</div><div class="editor-field"> 
@Html.TextBoxFor(x => x.RssUrl, new { style = "width: 350px;" })
@Html.ValidationMessage("RssUrl")
</div><div class="editor-label">
@Html.MytripLabelFor("ImgUrl", RssparserLanguage.rssfeed_pic)
</div><div class="editor-field"><div class="dark" style="width:206px;"> 
@Html.TextAreaFor(x => x.ImgUrl, new { id = "fotoabstract", style = "height: 200px; width:200px;" })
@Html.ValidationMessage("ImgUrl")
</div></div><div class="editor-label">
@Html.CheckBoxFor(model => model.AllCulture)
@Html.MytripLabelFor("AllCulture", RssparserLanguage.display_in_all_languages)
</div><div class="button">
@Html.MytripButton("Edit",true,"left")
@Html.MytripButton("/Rssparser/Manager", CoreLanguage.cancel, false,"left") 
</div>
</fieldset>
} 
}

