@inherits System.Web.Mvc.WebViewPage<Mytrip.Articles.Models.ArticleModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(Model.PageTitle, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(Model.PageTitle, ",");
    View.Description=Html.MytripPageTitle(Model.PageTitle, ",");
}
@section csslink{
<link href="/Content/calendar/ui.datepicker.css" rel="stylesheet" type="text/css" />
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js,ui.datepicker.js,jHtmlArea.Mytrip.js,Page/Article.Edit.js")
}
@section content{
<h1 class="title">
@Model.PageTitle</h1>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){
<fieldset>
<div class="editor-label">
@Html.HiddenFor(model => model.ArticleId)
@Html.HiddenFor(model => model.Path)
@Html.HiddenFor(model => model.Url)
</div>
<div class="editor-label">
@Html.MytripLabelFor("Title", ArticleLanguage.title)
</div>
<div class="editor-field">
@Html.TextBoxFor(model => model.Title)
@Html.ValidationMessageFor(model => model.Title)
</div>
<div class="editor-label">
@Html.MytripLabelFor("CategoryId", ArticleLanguage.category)
</div>
<div class="editor-field">
@Html.DropDownListFor(model => model.CategoryId, Model.Categories)
</div>
<table class="noborders">
<tr><td style="width: 200px">
<div class="editor-label">
@Html.MytripLabelFor("ImageForAbstract", ArticleLanguage.image_for_abstract)
</div>
</td><td><div class="editor-label">
@Html.MytripLabelFor("Abstract",ArticleLanguage.short_description)
</div></td></tr><tr><td>
<div class="editor-field"><div class="dark">
@Html.TextAreaFor(model => model.ImageForAbstract, new { id = "fotoabstract", style = "height: 200px; width:200px;" })
@Html.ValidationMessageFor(model => model.ImageForAbstract)
</div></div>
</td><td>
<div class="editor-field"><div class="dark">
@Html.TextAreaFor(model => model.Abstract, new { id = "abstract", style = "height: 200px; width:100%;" })
@Html.ValidationMessageFor(model => model.Abstract) 
</div></div>
</td>
</tr>
</table>
<table class="noborders">
<tr><td>
<div class="editor-label">
@Html.MytripLabelFor("Body", ArticleLanguage.content)
</div><div  id="editors" class="editor-field"><div class="dark">
@Html.TextAreaFor(model => model.Body, new { id = "article", style = "height: 400px; width:100%;" })
@Html.ValidationMessageFor(model => model.Body)
</div>   
@{int ctr = 2;}
@foreach (var page in Model.Pages){
<div id='@("page_"+ctr)'>@ArticleLanguage.page @ctr
<div class="dark">    
<textarea cols='20' id='@("editor_"+ctr)' name='pages' rows='2' style = 'height: 400px; width:100%;'>@page</textarea>
<span class='field-validation-valid' id='@("editor_"+ctr+"_validationMessage")'>@ArticleLanguage.content_empty</span>
</div></div>
ctr++;
}</div> 
<a id="deleteeditor" href="#" style="display:none;"><img src='/Theme/@Model.Theme/images/delete.png' alt="" style='width:14px;'/>@ArticleLanguage.delete</a><br/>
<a id="addneweditor" href="#"><img src="/Theme/@Model.Theme/images/add.png" alt="" style="width:20px;"/>@ArticleLanguage.add_new_page</a>
</td></tr>
<tr><td>
<div class="editor-label">
@Html.MytripLabelFor("Tags", ArticleLanguage.add_tags)
</div>
<div class="editor-field">
@foreach (var tag in Model.Tags){
if (tag.mytrip_articles.FirstOrDefault(x => x.ArticleId == Model.ArticleId) != null)
{
@Html.CheckBox("tag"+tag.TagId,true)
}else{
@Html.CheckBox("tag"+tag.TagId)
}
@Html.MytripLabelFor("tag"+tag.TagId,tag.TagName) 
}<br />
@Html.MytripLabelFor("NewTags", ArticleLanguage.enter_new_tags)<br />
@Html.TextBoxFor(model=>model.NewTags)
</div></td>
</tr><tr>
<td>
<div class="editor-label" style="display:@Model.ShowArticleOptions">
@Html.MytripLabelFor("CloseDate",ArticleLanguage.close_date)
@Html.ValidationMessageFor(model => model.CloseDate)<br />
@Html.TextBoxFor(model => model.CloseDate)
</div>
<div class="editor-label" style="display:@Model.ShowOnlyForRegisted">
@Html.CheckBoxFor(model => model.OnlyForRegisterUser, new { id = "OnlyForRegisterUser" })
@Html.MytripLabelFor("OnlyForRegisterUser", ArticleLanguage.only_for_register)
</div>
<div class="editor-label" style="display:@Model.ShowArticleOptions">
@Html.CheckBoxFor(model => model.ApprovedComment)
@Html.MytripLabelFor("ApprovedComment", ArticleLanguage.enable_comments)
</div>
<div id="showAnonymComment" class="editor-label" style="display:@Model.ShowIncludeAnonymComment">
@Html.CheckBoxFor(model => model.IncludeAnonymComment)
@Html.MytripLabelFor("IncludeAnonymComment", ArticleLanguage.enable_comments_for_anonymous)
</div><div id="moderateComments" class="editor-label" style="display: ">
@Html.CheckBoxFor(model => model.ModerateComments)
@Html.MytripLabelFor("ModerateComments", ArticleLanguage.moderate_comments)
</div><div class="editor-label" style="display:@Model.ShowArticleOptions">
@Html.CheckBoxFor(model => model.ApprovedVotes)
@Html.MytripLabelFor("ApprovedVotes", ArticleLanguage.enable_voting)
</div>
<div id="ShowAllCulture" class="editor-label" style="display:@Model.ShowAllCulture @Model.ShowArticleOptions">
@Html.CheckBoxFor(model => model.AllCulture)
@Html.MytripLabelFor("AllCulture", ArticleLanguage.display_all_lang)
</div></td></tr>
</table>
<div class="button">
@Html.MytripButton(ArticleLanguage.edit,true,"editarticle","left")
@Html.MytripButton(Model.Url, ArticleLanguage.back,false,"left")         
</div>
</fieldset>
}
<div class="window"> 
<div class="modalTC">Smiles</div>
<div class="modalC">
@Html.MytripSmiles("/Content/smiles")
</div> 
</div>
}

