@model mtm.Core.Models.HomePageModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(CoreLanguage.announce, "/");
    ViewBag.Keywords = Html.MytripPageTitle(CoreLanguage.announce, ",");
    ViewBag.Description = Html.MytripPageTitle(CoreLanguage.announce, ",");
}
@section scriptlink{
@Html.ScriptLink("Page/Core.Announce.js")
}
@section content{
<h1 class="title">@CoreLanguage.announce</h1>
* @CoreLanguage.announce. @CoreLanguage.menu_setting_desc
<table id="content" class="@WrapRes.StyleTable2_12">
<tr>
@Html.Raw(string.Format(WrapRes.StyleTable2_14, "width:50%;"))
@Html.Raw(string.Format(WrapRes.StyleTable2_15, "width:50%;"))
@Html.Raw(WrapRes.StyleTable2_16)
@Html.Raw(string.Format(WrapRes.StyleTable2_17, "width:50%;"))
<h3 class="hometitle">@CoreLanguage.display_in_menu</h3>
@Html.Raw(WrapRes.StyleTable2_13)
@Html.Raw(string.Format(WrapRes.StyleTable2_18, "width:50%;"))
<h3 class="hometitle">@CoreLanguage.available_menuitems</h3>
@Html.Raw(WrapRes.StyleTable2_13)
@Html.Raw(WrapRes.StyleTable2_16)
@Html.Raw(string.Format(WrapRes.StyleTable2_19, "width:50%;"))
@Html.Raw(string.Format(WrapRes.StyleTable2_20, "width:50%;"))
</tr><tr>
@Html.Raw(string.Format(WrapRes.StyleTable2_14, "width:50%;"))
@Html.Raw(string.Format(WrapRes.StyleTable2_15, "width:50%;"))
@Html.Raw(WrapRes.StyleTable2_16)
@Html.Raw(string.Format(WrapRes.StyleTable2_17_2, "width:50%;", "left"))
<div class="last"></div>
@foreach (var item in Model.HomeItems){
<div id="@item.Index"><div class="last"></div>
<div class="dark">
<table class="noborders">
<tr><td> 
<span>
@Html.MytripImageLink("addremove"+item.Index,"#","/images/rightarrow_blue.png",CoreLanguage.remove,"img16")
</span>
<span id="@("index"+item.Index)">@item.Index</span>
<b>(@item.Culture)</b>
<input id="@("assembly"+item.Index)"  type="hidden" value="@item.Assembly" />
<label id="@("title"+item.Index)">@item.Name</label>
<span id="@("sort"+item.Index)" class="right">
@Html.MytripImageLink("up"+item.Index,"#","/images/uparrow_blue.png",CoreLanguage.up,"img16")
@Html.MytripImageLink("down"+item.Index,"#","/images/downarrow_blue.png",CoreLanguage.down,"img16")
</span>
</td></tr>
</table>
</div>
<div class="last"></div></div>
} 
<div class="last"></div>
@Html.Raw(WrapRes.StyleTable2_13)
@Html.Raw(string.Format(WrapRes.StyleTable2_18_2, "width:50%;", "right"))
<div class="last"></div>
@foreach (var newitem in Model.NewHomeItems){
<div id="@newitem.Index">
<div class="last"></div>
<div class="dark">
<table class="noborders">
<tr><td> 
<span>
@Html.MytripImageLink("addremove"+newitem.Index,"#","/images/leftarrow_blue.png",CoreLanguage.remove,"img16")
</span>
<span id="@("index"+newitem.Index)"></span>
<b>(@newitem.Culture)</b>
<input id="@("assembly"+newitem.Index)"  type="hidden" value="@newitem.Assembly" />
<label id="@("title"+newitem.Index)">@newitem.Name</label>
<span id="@("sort"+newitem.Index)" class="right" style="display: none;">
@Html.MytripImageLink("up"+newitem.Index,"#","/images/uparrow_blue.png",CoreLanguage.up,"img16")
@Html.MytripImageLink("down"+newitem.Index,"#","/images/downarrow_blue.png",CoreLanguage.down,"img16")
</span>
</td></tr>
</table>
</div>
<div class="last"></div></div>
} 
<div class="last"></div>
@Html.Raw(WrapRes.StyleTable2_13)
@Html.Raw(WrapRes.StyleTable2_16)
@Html.Raw(string.Format(WrapRes.StyleTable2_19, "width:50%;"))
@Html.Raw(string.Format(WrapRes.StyleTable2_20, "width:50%;"))
</tr>
</table>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"save","left")
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.Backtocontrolpanel, false,"left") 
<span id="result" style="padding-left:10px;"></span>
</div>
}


