@model mtm.Core.Models.ModulesModel
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about mytrip.mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(CoreLanguage.InstallModules, "/");
    ViewBag.Keywords=Html.MytripPageTitle(CoreLanguage.InstallModules, ",");
    ViewBag.Description=Html.MytripPageTitle(CoreLanguage.InstallModules, ",");
}
@section scriptlink{
@Html.ScriptLink("mtm.Delete.js")
}
@section content{
<h1 class="title">@CoreLanguage.InstallModules</h1>
<table class="@WrapRes.StyleTable2_12">
<tr>   
@Html.Raw(string.Format(WrapRes.StyleTable2_14, "width:50%;"))
@Html.Raw(string.Format(WrapRes.StyleTable2_15, "width:50%;"))
@Html.Raw(WrapRes.StyleTable2_16)
@Html.Raw(string.Format(WrapRes.StyleTable2_17, "width:50%;"))
<h3 class="hometitle">@CoreLanguage.InstallModules</h3>
<table class="leftmidle" style="width: 100%;">
@foreach (var x in Model.install){
<tr class="pane-list"><td style="width:40px;">
@Html.MytripImgInput("/images/addmodule.png","/Core/InstallModule/"+x.Key,"rename")
</td><td>
<h4><b> @x.Value[0]</b>  @x.Value[1]</h4>
<div style="padding-top: 3px; padding-bottom: 3px">@CoreLanguage.by: @x.Value[2]</div>
@x.Value[3]
</td></tr>
}
</table> 
@Html.Raw(WrapRes.StyleTable2_13)
@Html.Raw(string.Format(WrapRes.StyleTable2_18, "width:50%;"))
<h3 class="hometitle">@CoreLanguage.uninstallmodules</h3>
<table class="leftmidle" style="width: 100%;">
@foreach (var x in Model.uninstall)
{
<tr class="pane-list"><td style="width:40px;">
@Html.MytripImgInput("/images/deletemodule.png", "/Core/UninstallModule/" + x.Key, "delete")
</td><td> 
<h4><b> @x.Value[0]</b>  @x.Value[1]</h4>
<div style="padding-top: 3px; padding-bottom: 3px">@CoreLanguage.by: @x.Value[2]</div>
@x.Value[3]
</td></tr>
} 
</table> 
@Html.Raw(WrapRes.StyleTable2_13)
@Html.Raw(WrapRes.StyleTable2_16)
@Html.Raw(string.Format(WrapRes.StyleTable2_19, "width:50%;"))
@Html.Raw(string.Format(WrapRes.StyleTable2_20, "width:50%;"))
</tr></table>
<div class="button">
@Html.MytripButton("/Core/ControlPanel", CoreLanguage.Backtocontrolpanel, true, "left")</div>
<div id="delete" class="window"> 
<div class="modalTC">@CoreLanguage.delete</div>
<div class="modalC">
<table class="leftmidle"><tr><td>
@Html.MytripImage("/images/warning.png", "warning", "i")
</td><td>
<h3 class="hometitle">@CoreLanguage.are_you_sure</h3>
</td></tr></table>  
<div class="button">
@Html.MytripButton(CoreLanguage.cancel, false, "close", "right")
@Html.MytripButton(CoreLanguage.remove, true, "enter","right")
</div></div></div> 
}