@model mtm.Store.Models.CartModel
@{ 
    /* Copyright ? 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(Model.title);
    ViewBag.Keywords = mtm.Store.ModuleSetting.nameStoreKeyWords();
    ViewBag.Description = mtm.Store.ModuleSetting.nameStoreDesc();
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcAjax.js,jquery.validate.min.js,jquery.validate.unobtrusive.min.js,mtm.Delete.js,Page/Store.Cart.js")
}
@section contentSmall{
@Html.Partial("Partial/_sideBar")
}
@section contentBig{
@Html.BreadCumps(">", Model.Bread)
<h1 class="title">@Model.title</h1>
<div class="appr">
    @Model.cart
</div>
<div class="last">
</div>
<h1>@StoreLanguage.new_orders</h1>
@Html.GetOrders()
<div id="valid" class="@Model.valid">
</div>
<div id="_order" class="window">
    <div class="modalTC">@StoreLanguage.checkout</div>
    <div class="modalC">
   
        @using (Html.BeginForm())
        {
            <input type="hidden" id="orgOrPriv" name="organizationOrPrivte" value="false" />
            <div class="editor-label">
                @Html.LabelFor(m => m.firstname, StoreLanguage.firstname)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.firstname) @Html.ValidationMessageFor(m => m.firstname)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.lastname, StoreLanguage.lastname)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.lastname) @Html.ValidationMessageFor(m => m.lastname)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.useremail, CoreLanguage.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.useremail) @Html.ValidationMessageFor(m => m.useremail)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.phone, StoreLanguage.phone)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.phone) @Html.ValidationMessageFor(m => m.phone)
            </div>
            <div id="vorg" style="display: @Model.viewOrganization" >
                <div class="editor-label">
                    @Html.LabelFor(m => m.organization, StoreLanguage.organization)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.organization) @Html.ValidationMessageFor(m => m.organization)
                </div>
                <div style="display: @Model.viewOrganizationRu" >
                    <div class="editor-label">
                        @Html.LabelFor(m => m.organizationINN, StoreLanguage.organizationINN)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.organizationINN) @Html.ValidationMessageFor(m => m.organizationINN)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.organizationKPP, StoreLanguage.organizationKPP)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.organizationKPP) @Html.ValidationMessageFor(m => m.organizationKPP)
                    </div>
                </div>
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.address, StoreLanguage.address)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.address, new { @class = "message", style = "height: 50px; width:300px;" })
                @Html.ValidationMessageFor(m => m.address)
            </div>
            <div class="button">
                @Html.MytripButton(CoreLanguage.send, true, "right")
            </div>
        }
    </div>
</div>
<div id="_variant" class="window">
    <div class="modalTC">@StoreLanguage.checkout</div>
    <div class="modalC">
        <table class="noborders">
            <tr>
                <td>
             <div class="button">
            @Html.MytripButton(StoreLanguage.organization, false, "organisation", "left") 
        </div>
                </td>
                <td>
                  <div class="button">
            @Html.MytripButton(StoreLanguage.people, false, "people", "right") 
        </div>
                </td>
            </tr>
        </table>
        
    </div>
</div>
<div id="_onlinebuy" class="window">
    <div class="modalTC">@StoreLanguage.checkout</div>
    <div class="modalC">
    <div class="righttext">
       @Html.OnlineBuy()</div>
    </div>
</div>
@Html.Partial("Partial/_deleteModal") 
}
