@model mtm.Store.Models.CreateProductXmlModel
@{ 
    /* Copyright ? 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    ViewBag.Title = Html.MytripPageTitle(StoreLanguage.uploadproductxml);
    ViewBag.Keywords = mtm.Store.ModuleSetting.nameStoreKeyWords();
    ViewBag.Description = mtm.Store.ModuleSetting.nameStoreDesc();
}
@section scriptlink{
@Html.ScriptLink("jquery.validate.min.js,jquery.validate.unobtrusive.min.js,Page/Store.CreateProductXml.js")
}
@section content{
@Html.BreadCumps(">",Model.Bread)
<h1 class="title">@StoreLanguage.uploadproductxml</h1>
<fieldset>
<form id="myForm" action="/Store/CreateProductXml" method="post" enctype="multipart/form-data" >

<div id="divfiletext" class="left">@Html.TextBox("a", "", new { id="filetext"})</div>
<div class="left">@Html.MytripInputFile("file","id")</div>
<div style="clear:both;">
<div class="editor-label">
        @Html.CheckBoxFor(m => m.delete)
        @Html.LabelFor(m => m.delete, StoreLanguage.deleteallposition)
    </div>
<div class="button">
@Html.MytripButton(CoreLanguage.save, true,"left")
</div>
</div>
</form>
</fieldset>
<div class="last"></div>
<div class="content">
<a href="/Content/Store/Catalog/Empty.zip">@StoreLanguage.download (Empty.zip)</a>
<div class="last"></div>
<a href="/Store/DowloadFile/xls">@StoreLanguage.download (.xls)</a>
<div class="last"></div>
<a href="/Store/DowloadFile/xlsx">@StoreLanguage.download (.xlsx)</a>
<div class="last"></div>
DepartmentId = @Model.department
<div class="last"></div>
ProducerId = @Model.producer
<div class="last"></div>
ProductId = @Model.product
<div class="last"></div>
SaleId = @Model.sale
</div>
}

