@inherits System.Web.Mvc.WebViewPage<mytrip.mvc.models.changepasswordmodel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.change_password, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(CoreLanguage.change_password, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.change_password, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
}
@section content{
<h1 class="title">@CoreLanguage.change_password</h1>
<p>@CoreLanguage.change_password_text_first</p>
<p>@string.Format(CoreLanguage.change_password_text_last, Model.minRequiredPasswordLength)</p>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()){ 
<fieldset>
<div class="editor-label">
@Html.MytripLabelFor("OldPassword",CoreLanguage.OldPassword)
</div>
<div class="editor-field">
@Html.PasswordFor(m => m.OldPassword)
@Html.ValidationMessageFor(m => m.OldPassword)
</div>
<div class="editor-label">
@Html.MytripLabelFor("NewPassword",CoreLanguage.NewPassword)
</div>
<div class="editor-field">
@Html.PasswordFor(m => m.NewPassword) 
@Html.ValidationMessageFor(m => m.NewPassword) 
</div>
<div class="editor-label">
@Html.MytripLabelFor("ConfirmPassword",CoreLanguage.ConfirmPassword)
</div>
<div class="editor-field">
@Html.PasswordFor(m => m.ConfirmPassword) 
@Html.ValidationMessageFor(m => m.ConfirmPassword)
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.change_password, true,"left")
</div>
</fieldset>
} 
}