@inherits System.Web.Mvc.WebViewPage<Mytrip.Mvc.Models.OpenIdRegisterModel>
@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.UserNameforsite, "/");
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
    View.Keywords=Html.MytripPageTitle(CoreLanguage.UserNameforsite, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.UserNameforsite, ",");
}
@section scriptlink{
@Html.ScriptLink("MicrosoftAjax.js,MicrosoftMvcValidation.js")
}
@section content{
<h1 class="title">
 @CoreLanguage.UserNameforsite</h1>
@{Html.EnableClientValidation();}
@using (Html.BeginForm()) {
<fieldset>
<div class="editor-label">
@Html.MytripLabelFor("UserName", CoreLanguage.UserName)
</div><div class="editor-field">
@Html.TextBoxFor(model => model.UserName)
@Html.ValidationMessageFor(model => model.UserName) 
</div><div class="editor-label" style="display: @Model.display">
@Html.MytripLabelFor("Email", CoreLanguage.Email)
</div><div class="editor-field" style="display: @Model.display">
@Html.TextBoxFor(m => m.Email)
@Html.ValidationMessageFor(m => m.Email)
</div>
<div class="button">
@Html.MytripButton(CoreLanguage.save,true,"left")
</div>
</fieldset>
}
}
